From tilt-series movies to tomograms of a fiducial-less sample (EMPIAR-118030) with a queue system.
You'll need to download its dataset -> scipion3 testdata --download chlamy_visual_proteomics
Scipion required plugins: aretomo, tomo, imod, motioncorr, tomo3d
[
    {
        "object.className": "ProtAreTomoAlignRecon",
        "object.id": "2",
        "object.label": "aretomo - tilt-series align and reconstruct",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"1\"}]",
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "66.TiltSeries",
        "skipAlign": false,
        "makeTomo": true,
        "doEvenOdd": false,
        "binFactor": 4,
        "alignZ": 800,
        "alignZfile": null,
        "tomoThickness": 2048,
        "refineTiltAngles": 2,
        "refineTiltAxis": 1,
        "outImod": 0,
        "doEstimateCtf": true,
        "doPhaseShiftSearch": false,
        "minPhaseShift": 0,
        "maxPhaseShift": 0,
        "doDW": true,
        "reconMethod": 1,
        "SARTiter": 15,
        "SARTproj": 5,
        "flipInt": false,
        "flipVol": true,
        "roiArea": "",
        "sampleType": 0,
        "coordsFn": "",
        "patchX": 5,
        "patchY": 5,
        "darkTol": 0.7,
        "extraParams": "",
        "gpuList": "1",
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "66",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"0\"}]",
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "1881.tiltSeries",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodTsNormalization",
        "object.id": "278",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"0\"}]",
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "409.TiltSeries",
        "binning": 4,
        "floatDensities": 2,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "modeToOutput": 0,
        "antialias": 5,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtTomo3dReconstrucTomo",
        "object.id": "320",
        "object.label": "tomo3d - reconstruct tomogram",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"20000\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"0\"}]",
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "278.TiltSeries",
        "doEvenOdd": false,
        "method": 1,
        "nIterations": 30,
        "setShape": true,
        "height": 300,
        "width": 0,
        "iniSlice": 0,
        "finSlice": 0,
        "Hamming": 0.0,
        "binThreads": 6,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodTomoReconstruction",
        "object.id": "363",
        "object.label": "imod - Tomo reconstruction",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"1\"}]",
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "278.TiltSeries",
        "tomoThickness": 300,
        "tomoWidth": 0,
        "tomoShiftX": 0.0,
        "tomoShiftZ": 0.0,
        "angleOffset": 0.0,
        "tiltAxisOffset": 0.0,
        "superSampleFactor": 2,
        "fakeInteractionsSIRT": 0,
        "radialFirstParameter": 0.35,
        "radialSecondParameter": 0.035,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodCtfCorrection",
        "object.id": "409",
        "object.label": "imod - CTF correction",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"1\"}]",
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "1963.tiltSeries",
        "inputSetOfCtfTomoSeries": "2.CTFTomoSeries",
        "defocusTol": 200,
        "interpolationWidth": 15,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtMotionCorrNewStreaming",
        "object.id": "449",
        "object.label": "motioncorr - movie alignment New Streaming",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"1\"}]",
        "runName": null,
        "runMode": 0,
        "inputMovies": "2917.outputMovies",
        "doSaveAveMic": true,
        "useAlignToSum": true,
        "alignFrame0": 1,
        "alignFrameN": 0,
        "binFactor": 1.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": false,
        "doSaveMovie": false,
        "extraProtocolParams": "",
        "gpuList": "0",
        "doApplyDoseFilter": false,
        "patchX": 5,
        "patchY": 5,
        "patchOverlap": 0,
        "group": 1,
        "groupLocal": 4,
        "tol": 0.2,
        "doSaveUnweightedMic": true,
        "extraParams2": "",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 8,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0,
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtComposeTS",
        "object.id": "515",
        "object.label": "tomo - Compose Tilt Series",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"0\"}]",
        "runName": null,
        "runMode": 0,
        "inputMicrographs": "449.micrographs",
        "filesPath": "~Path of the mdoc files|%(SCIPION_TESTS)s/chlamy_visual_proteomics/|2|filesPath~",
        "mdocPattern": "*/frames/*.mdoc",
        "excludedWords": "",
        "isTomo5": true,
        "manualTiltAxisAngle": null,
        "doEvenOdd": false,
        "minNumTilts": 3,
        "percentTiltsRequired": 50,
        "time4NextTilt": "3m"
    },
    {
        "object.className": "ProtExclViewFilter",
        "object.id": "1881",
        "object.label": "tomo - exclude views - dose & dark",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"0\"}]",
        "runName": null,
        "runMode": 0,
        "inTsSet": "515.tiltSeries",
        "maxShiftX": 1.0,
        "maxShiftY": 1.0,
        "minTilt": -70.0,
        "maxTilt": 70.0,
        "minDose": 0.0,
        "maxDose": 100.0,
        "qualityFilterFactor": 3,
        "darkSensitivity": 2.0,
        "darkLocalRatioTh": 0.65,
        "darkWindow": 2,
        "darkCosFloor": 0.2,
        "darkCropFraction": 0.7,
        "extremeContrastTh": 1.0,
        "minEntropy": 3.0,
        "minEdgeEnergy": 0.0,
        "minViews": 30,
        "doReStack": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtExclViewFilter",
        "object.id": "1963",
        "object.label": "tomo - exclude views - by shift",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"0\"}]",
        "runName": null,
        "runMode": 0,
        "inTsSet": "2.TiltSeries",
        "maxShiftX": 0.1,
        "maxShiftY": 0.1,
        "minTilt": -70.0,
        "maxTilt": 70.0,
        "minDose": 0.0,
        "maxDose": 100.0,
        "qualityFilterFactor": 3,
        "darkSensitivity": 2.0,
        "darkLocalRatioTh": 0.65,
        "darkWindow": 2,
        "darkCosFloor": 0.2,
        "darkCropFraction": 0.7,
        "extremeContrastTh": 1.0,
        "minEntropy": 3.0,
        "minEdgeEnergy": 0.0,
        "minViews": 30,
        "doReStack": true,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImportMovies",
        "object.id": "2917",
        "object.label": "pwem - import movies",
        "object.comment": "",
        "_useQueue": true,
        "_prerequisites": "",
        "_queueParams": "[\"standard\", {\"JOB_MEMORY\": \"8192\", \"JOB_TIME\": \"48\", \"GPU_COUNT\": \"0\"}]",
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "~Path of the tilt-series movies|%(SCIPION_TESTS)s/chlamy_visual_proteomics/|2|filesPath~",
        "filesPattern": "*/frames/*.eer",
        "copyFiles": false,
        "haveDataBeenPhaseFlipped": false,
        "acquisitionWizard": null,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.07,
        "magnification": 50000,
        "samplingRateMode": 0,
        "samplingRate": 0.675,
        "scannedPixelSize": 7.0,
        "doseInitial": 0.0,
        "dosePerFrame": 3.0,
        "gainFile": "~Gain File|%(SCIPION_TESTS)s/chlamy_visual_proteomics/20211216_124009_EER_GainReference.gain|2|gainFile~",
        "darkFile": null,
        "dataStreaming": true,
        "timeout": "12h",
        "fileTimeout": "30",
        "blacklistDateFrom": null,
        "blacklistDateTo": null,
        "useRegexps": true,
        "blacklistFile": null,
        "inputIndividualFrames": false,
        "numberOfIndividualFrames": null,
        "stackFrames": false,
        "writeMoviesInProject": false,
        "movieSuffix": "_frames.mrcs",
        "deleteFrames": false
    }
]