Subtomogram averaging with Relion4: HIV (EMPIAR-10164).
You'll need to download its dataset -> scipion3 testdata --download relion40_sta_tutorial_data
[
    {
        "object.className": "ProtImportTs",
        "object.id": "2",
        "object.label": "tomo - import tilt-series",
        "object.comment": "Registers the tiltseries TS_03 to use in this project. Run scipion3 testdata --download relion40_sta_tutorial_data to get the data.",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "~Path to HIV folder dataset|%(SCIPION_TESTS)s/relion40_sta_tutorial_data/tomograms/|2|datasetpath~",
        "filesPattern": "*/*.mrc",
        "exclusionWords": "~Exlusion list|output 03 43 45 54|0|exclusion~",
        "mdocInfo": null,
        "anglesFrom": 2,
        "minAngle": -60.0,
        "maxAngle": 60.0,
        "stepAngle": 3.0,
        "ctfCorrected": false,
        "interpolated": false,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.07,
        "magnification": 105000,
        "samplingRate": 1.35,
        "tiltAxisAngle": 85.3,
        "doseInitial": 0.0,
        "dosePerFrame": 3.05,
        "dataStreaming": false,
        "timeout": 43200,
        "fileTimeout": 30
    },
    {
        "object.className": "ProtImodImportTransformationMatrix",
        "object.id": "3",
        "object.label": "imod - Import transformation matrix",
        "object.comment": "Imports the imod xf files to associate the alignment information to the input tilt series.",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "~Path to folder with  .xf file|%(SCIPION_TESTS)s/relion40_sta_tutorial_data/tomograms/|2|xffolder~",
        "filesPattern": "TS*/*.xf",
        "copyFiles": false,
        "exclusionWords": null,
        "binningTM": 1,
        "binningTS": 1,
        "inputSetOfTiltSeries": "2.outputTiltSeries"
    },
    {
        "object.className": "ProtImportTsCTF",
        "object.id": "91",
        "object.label": "tomo - import tomo CTFs",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "~Path to folder with  .defocus files|%(SCIPION_TESTS)s/relion40_sta_tutorial_data/tomograms/|2|ctffolder~",
        "filesPattern": "*/*.defocus",
        "copyFiles": false,
        "exclusionWords": null,
        "inputSetOfTiltSeries": "2.outputTiltSeries"
    },
    {
        "object.className": "ProtImportTomograms",
        "object.id": "156",
        "object.label": "tomo - import tomograms",
        "object.comment": "Imports tomograms related to the tilt series to hold the picking (3d coordinates) information.",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "~Path to tomograms|%(SCIPION_TESTS)s/relion40_sta_tutorial_data/tomograms/|2|tomopath~",
        "filesPattern": "*.mrc",
        "copyFiles": false,
        "samplingRate": 5.4,
        "importAcquisitionFrom": 0,
        "acquisitionData": null,
        "acquisitionAngleMax": 60.0,
        "acquisitionAngleMin": -60.0,
        "step": null,
        "setOrigCoord": true,
        "fromMrcHeader": true,
        "x": null,
        "y": null,
        "z": null
    },
    {
        "object.className": "ProtImportCoordinates3DFromStar",
        "object.id": "227",
        "object.label": "reliontomo - import coordinates 3D from a star file",
        "object.comment": "Imports relion4 tutorial 3D coordinates.",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "starFile": "~Path to coords.star file|%(SCIPION_TESTS)s/relion40_sta_tutorial_data/input/coords_5tomos.star|2|coordspath~",
        "samplingRate": 1.35,
        "boxSize": 20,
        "inTomos": "156.Tomograms"
    },
    {
        "object.className": "ProtRelionPrepareData",
        "object.id": "212",
        "object.label": "reliontomo - Prepare data for Relion 4",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "handeness": true,
        "flipZCoords": false,
        "flipYZ": true,
        "flipZ": true,
        "swapXY": false,
        "inputTS": "3.TiltSeries",
        "inputCtfTs": "91.outputCTFs",
        "inputCoords": "227.coordinates"
    },
    {
        "object.className": "ProtRelionTomoReconstruct",
        "object.id": "355",
        "object.label": "reliontomo - Reconstruct tomograms from prepare data prot",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recTomoMode": 0,
        "tomoId": "TS_01",
        "binFactor": 4.0,
        "width": -1,
        "height": -1,
        "thickness": -1,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "protPrepare": "212."
    },
    {
        "object.className": "ProtRelionReconstructParticle",
        "object.id": "418",
        "object.label": "reliontomo - Reconstruct particle from tilt series",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3,
        "boxSize": 192,
        "croppedBoxSize": 96,
        "binningFactor": 4.0,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "inReParticles": "212.relionParticles"
    },
    {
        "object.className": "ProtRelionMakePseudoSubtomograms",
        "object.id": "457",
        "object.label": "reliontomo - Make pseudo-subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 12,
        "numberOfMpi": 1,
        "boxSize": 192,
        "croppedBoxSize": 96,
        "binningFactor": 4.0,
        "applyConeWeight": false,
        "coneAngle": 10.0,
        "applyOffsets": false,
        "outputInFloat16": false,
        "inReParticles": "212.relionParticles"
    },
    {
        "object.className": "ProtRelion3DClassifySubtomograms",
        "object.id": "603",
        "object.label": "reliontomo - 3D Classification of subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isMapAbsoluteGreyScale": true,
        "initialLowPassFilterA": 30.0,
        "symmetry": "C6",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "numberOfClasses": 1,
        "regularisation": 4.0,
        "nIterations": 3,
        "useFastSubsets": false,
        "maskDiameter": 230,
        "zeroMask": true,
        "limitResolutionEStepTo": -1.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5,
        "offsetSearchStepPix": 1.0,
        "doLocalAngleSearch": false,
        "localAngularSearchRange": 5.0,
        "relaxSym": null,
        "allowCoarser": false,
        "parallelDiscIO": true,
        "pooledSubtomos": 16,
        "skipGridding": true,
        "allParticlesRam": false,
        "combineItersDisc": false,
        "scratchDir": null,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": "--sigma_tilt 3.667 --sigma_psi 3.667",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 3,
        "referenceVolume": "418.average",
        "inReParticles": "457.relionParticles"
    },
    {
        "object.className": "ProtRelionEditParticlesStar",
        "object.id": "717",
        "object.label": "reliontomo - Apply operation to Relion particles",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "doRecenter": true,
        "shiftX": 0.0,
        "shiftY": 0.0,
        "shiftZ": 2.75,
        "chosenOperation": 0,
        "opValue": 1.0,
        "operateWith": 0,
        "label1x": false,
        "label2y": false,
        "label3z": false,
        "label1sx": false,
        "label2sy": false,
        "label3sz": false,
        "label1rot": false,
        "label2tilt": false,
        "label3psi": false,
        "inReParticles": "603.relionParticles"
    },
    {
        "object.className": "ProtRelionReconstructParticle",
        "object.id": "802",
        "object.label": "reliontomo - Reconstruct particle from tilt series (2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3,
        "boxSize": 192,
        "croppedBoxSize": 96,
        "binningFactor": 4.0,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "inReParticles": "717.relionParticles"
    },
    {
        "object.className": "ProtImportMask",
        "object.id": "994",
        "object.label": "pwem - Bin2_import mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "maskPath": "~Path to bin2 mask|%(SCIPION_TESTS)s/relion40_sta_tutorial_data/masks/mask_align_bin2.mrc|2|maskb2~",
        "samplingRate": 2.7
    },
    {
        "object.className": "ProtRelionReconstructParticle",
        "object.id": "1116",
        "object.label": "reliontomo - Reconstruct particle from tilt series (1)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 3,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "binningFactor": 2.0,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "inReParticles": "717.relionParticles"
    },
    {
        "object.className": "ProtRelionMakePseudoSubtomograms",
        "object.id": "1155",
        "object.label": "reliontomo - Make pseudo-subtomograms (B2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 12,
        "numberOfMpi": 1,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "binningFactor": 2.0,
        "applyConeWeight": false,
        "coneAngle": 10.0,
        "applyOffsets": false,
        "outputInFloat16": false,
        "inReParticles": "717.relionParticles"
    },
    {
        "object.className": "ProtRelion3DClassifySubtomograms",
        "object.id": "1343",
        "object.label": "reliontomo - 3D Classification of subtomograms (copy 2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isMapAbsoluteGreyScale": true,
        "initialLowPassFilterA": 30.0,
        "symmetry": "C6",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "numberOfClasses": 1,
        "regularisation": 4.0,
        "nIterations": 3,
        "useFastSubsets": false,
        "maskDiameter": 230,
        "zeroMask": true,
        "limitResolutionEStepTo": -1.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5,
        "offsetSearchStepPix": 1.0,
        "doLocalAngleSearch": false,
        "localAngularSearchRange": 5.0,
        "relaxSym": null,
        "allowCoarser": false,
        "parallelDiscIO": true,
        "pooledSubtomos": 16,
        "skipGridding": true,
        "allParticlesRam": false,
        "combineItersDisc": false,
        "scratchDir": null,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": "--sigma_tilt 3.667 --sigma_psi 3.667",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 3,
        "solventMask": "994.outputMask",
        "referenceVolume": "1116.average",
        "inReParticles": "1155.relionParticles"
    },
    {
        "object.className": "XmippProtSubtomoMapBack",
        "object.id": "9071",
        "object.label": "xmipptomo - map back subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "selection": 0,
        "invertContrast": false,
        "paintingType": 2,
        "removeBackground": true,
        "threshold": 0.5,
        "constant": 100000.0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 3,
        "inputClasses": "1343.classes"
    }
]