Tilt series alignment and tomogram reconstruction: HIV (EMPIAR-10164).
You'll need to download its dataset -> scipion3 testdata --download HIV_alignment_and_reconstruction
[
    {
        "object.className": "ProtImportTsMovies",
        "object.id": "2469",
        "object.label": "tomo - import tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "~Path to HIV folder dataset|%(SCIPION_TESTS)s/HIV_alignment_and_reconstruction/|2|datasetpath~",
        "filesPattern": "*.mdoc",
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": 0.675,
        "tiltAxisAngle": null,
        "doseInitial": 0.0,
        "dosePerFrame": 3.0,
        "gainFile": null,
        "darkFile": null
    },
    {
        "object.className": "ProtTsMotionCorr",
        "object.id": "2516",
        "object.label": "motioncorr - align tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTiltSeriesM": "2469.outputTiltSeriesM",
        "alignFrame0": 1,
        "alignFrameN": 8,
        "useAlignToSum": true,
        "sumFrame0": 1,
        "sumFrameN": 0,
        "binFactor": 2.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": true,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "gpuList": "0",
        "patchX": 5,
        "patchY": 5,
        "patchOverlap": 0,
        "group": 1,
        "groupLocal": 4,
        "tol": 0.2,
        "extraParams2": "",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 32,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0
    },
    {
        "object.className": "CistemProtTsCtffind",
        "object.id": "2578",
        "object.label": "cistem - tilt-series ctffind4",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTiltSeries": "2516.outputTiltSeries",
        "recalculate": false,
        "sqliteFile": null,
        "ctfDownFactor": 1.0,
        "windowSize": 512,
        "lowRes": 30.0,
        "highRes": 5.0,
        "minDefocus": 5000.0,
        "maxDefocus": 50000.0,
        "stepDefocus": 500.0,
        "slowSearch": false,
        "fixAstig": true,
        "astigmatism": 100.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 180.0,
        "stepPhaseShift": 10.0,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1,
        "streamingWarning": null,
        "streamingSleepOnWait": 0,
        "streamingBatchSize": 1
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "2631",
        "object.label": "imod - Dose filter",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "2516.outputTiltSeries",
        "initialDose": 0.0,
        "inputDoseType": 0,
        "fixedImageDose": 1.0,
        "processOddEven": true
    },
    {
        "object.className": "ProtImodEtomo",
        "object.id": "2870",
        "object.label": "imod - Etomo interactive",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "2631.TiltSeries",
        "markersDiameter": 12.0,
        "applyAlignment": false,
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtAreTomoAlignRecon",
        "object.id": "2904",
        "object.label": "aretomo - tilt-series align and reconstruct",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "tiltAxisAngle": 0.0,
        "inputSetOfTiltSeries": "2631.TiltSeries",
        "skipAlign": false,
        "makeTomo": true,
        "saveStack": true,
        "useInputProt": false,
        "binFactor": 8,
        "alignZ": 800,
        "tomoThickness": 1800,
        "refineTiltAngles": 1,
        "refineTiltAxis": 1,
        "doDW": false,
        "reconMethod": 0,
        "SARTiter": 15,
        "SARTproj": 5,
        "flipInt": false,
        "flipVol": true,
        "roiArea": "",
        "sampleType": 0,
        "coordsFn": "",
        "patchX": 5,
        "patchY": 5,
        "darkTol": 0.7,
        "extraParams": "",
        "gpuList": "0",
        "hostName": "localhost",
        "numberOfThreads": 3,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "4199",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "2516.outputTiltSeries",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": true
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "4236",
        "object.label": "imod - Dose filter",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "4199.TiltSeries",
        "initialDose": 0.0,
        "inputDoseType": 0,
        "fixedImageDose": 1.0,
        "processOddEven": true
    },
    {
        "object.className": "ProtImodTSNormalization",
        "object.id": "4374",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "4236.TiltSeries",
        "binning": 4,
        "applyAlignment": false,
        "floatDensities": 0,
        "modeToOutput": 0,
        "scaleRangeToggle": 1,
        "scaleRangeMax": 255.0,
        "scaleRangeMin": 0.0,
        "antialias": 5,
        "meanSdToggle": 1,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "processOddEven": true
    },
    {
        "object.className": "ProtImodXcorrPrealignment",
        "object.id": "4448",
        "object.label": "imod - Coarse prealignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "4374.TiltSeries",
        "cumulativeCorr": 0,
        "computeAlignment": 0,
        "binning": 2,
        "Trimming parameters": null,
        "tiltAxisAngle": 85.3,
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.25,
        "filterSigma2": 0.05
    },
    {
        "object.className": "ProtImodFiducialModel",
        "object.id": "4493",
        "object.label": "imod - Generate fiducial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "4448.TiltSeries",
        "fiducialDiameter": 12.0,
        "twoSurfaces": 1,
        "numberFiducial": 25,
        "doTrackWithModel": true,
        "shiftsNearZeroFraction": 0.2,
        "refineSobelFilter": 0,
        "scalableSigmaForSobelFilter": 0.12
    },
    {
        "object.className": "ProtImodFiducialAlignment",
        "object.id": "4532",
        "object.label": "imod - Fiducial alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfLandmarkModels": "4493.FiducialModelGaps",
        "twoSurfaces": 1,
        "computeAlignment": 0,
        "binning": 2,
        "rotationSolutionType": 3,
        "groupRotationSize": 5,
        "magnificationSolutionType": 1,
        "groupMagnificationSize": 4,
        "tiltAngleSolutionType": 1,
        "groupTiltAngleSize": 5,
        "distortionSolutionType": 0,
        "xStretchGroupSize": 7,
        "skewGroupSize": 11,
        "eraseGoldBeads": 1,
        "betterRadius": 18
    },
    {
        "object.className": "ProtImodCtfCorrection",
        "object.id": "4578",
        "object.label": "imod - CTF correction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "4532.TiltSeries",
        "inputSetOfCtfTomoSeries": "2578.outputSetOfCTFTomoSeries",
        "defocusTol": 200,
        "interpolationWidth": 15,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": true
    },
    {
        "object.className": "ProtImodTomoReconstruction",
        "object.id": "4617",
        "object.label": "imod - Tomo reconstruction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "4578.TiltSeries",
        "tomoThickness": 300.0,
        "tomoShiftX": 0.0,
        "tomoWidth": 0,
        "tomoShiftZ": 0.0,
        "angleOffset": 0.0,
        "tiltAxisOffset": 0.0,
        "fakeInteractionsSIRT": 0,
        "radialFirstParameter": 0.35,
        "radialSecondParameter": 0.035,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": true
    },
    {
        "object.className": "XmippProtMonoTomo",
        "object.id": "4661",
        "object.label": "xmipptomo - local Resolution MonoTomo",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useAssociatedOddEven": true,
        "tomo": "4617.Tomograms",
        "useMask": false,
        "significance": 0.95,
        "minRes": 0.0,
        "maxRes": 140.0,
        "stepSize": 2.0,
        "hostName": "localhost",
        "numberOfThreads": 12
    },
    {
        "object.className": "ProtJjsoftProtDenoiseTomogram",
        "object.id": "4923",
        "object.label": "tomo3d - denoise tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetTomograms": "4617.Tomograms",
        "method": 0,
        "SigmaGaussian": 0.5,
        "nIter": 10,
        "Lambda": -1.0,
        "TimeStep": 0.1,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtNovaCtfTomoDefocus",
        "object.id": "5027",
        "object.label": "novactf - compute defocus array",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "4532.TiltSeries",
        "inputSetOfCtfTomoSeries": "2578.outputSetOfCTFTomoSeries",
        "tomoThickness": 200.0,
        "tomoShift": 0.0,
        "defocusStep": 15,
        "correctionType": 0,
        "correctAstigmatism": 1,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1
    }
]
