 Course 2022, day 3 :Subtomogram averaging of HIV (EMPIAR-10164)
[
    {
        "object.className": "ProtImportTs",
        "object.id": "2",
        "object.label": "tomo - import tilt-series",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "~Path to HIV folder dataset|/home/scipion/data/Day3_HIV/TS/|2|datasetpath~",
        "filesPattern": "{TS}*.mrc",
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "minAngle": -60.0,
        "maxAngle": 60.0,
        "stepAngle": 3.0,
        "ctfCorrected": false,
        "interpolated": false,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.07,
        "magnification": 105000,
        "samplingRate": 1.35,
        "tiltAxisAngle": 85.3,
        "doseInitial": 0.0,
        "dosePerFrame": 3.05,
        "dataStreaming": false,
        "timeout": 43200,
        "fileTimeout": 30
    },
    {
        "object.className": "ProtImodImportSetOfCtfTomoSeries",
        "object.id": "113",
        "object.label": "imod - Import tomo CTFs",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "~Path to folder with  .defocus files|/home/tomo/data/workshop2022/Day3_HIV/CTF|2|ctfsfolder~",
        "filesPattern": "*.defocus",
        "copyFiles": false,
        "exclusionWords": null,
        "inputSetOfTiltSeries": "2.outputTiltSeries"
    },
    {
        "object.className": "ProtImportTomograms",
        "object.id": "156",
        "object.label": "tomo - import tomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 0,
        "filesPath": "/home/tomo/data/workshop2022/Day3_HIV/Tomograms/",
        "filesPattern": "*.mrc",
        "copyFiles": false,
        "samplingRate": 5.4,
        "importAcquisitionFrom": 0,
        "acquisitionData": null,
        "acquisitionAngleMax": 60.0,
        "acquisitionAngleMin": -60.0,
        "step": null,
        "angleAxis1": null,
        "angleAxis2": null,
        "setOrigCoord": false,
        "x": null,
        "y": null,
        "z": null
    },
    {
        "object.className": "ProtImportCoordinates3DFromStar",
        "object.id": "227",
        "object.label": "reliontomo - import coordinates 3D from a star file",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "starFile": "/home/tomo/data/workshop2022/Day3_HIV/coords.star",
        "samplingRate": 1.35,
        "boxSize": 20,
        "inTomos": "156.outputTomograms"
    },
    {
        "object.className": "ProtRelionPrepareData",
        "object.id": "270",
        "object.label": "reliontomo - Prepare data for Relion 4",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "handeness": true,
        "flipZCoords": false,
        "flipYZ": true,
        "flipZ": true,
        "swapXY": false,
        "inputTS": "2.outputTiltSeries",
        "inputCtfTs": "113.CTFTomoSeries",
        "inputCoords": "227.coordinates"
    },
    {
        "object.className": "ProtRelionTomoReconstruct",
        "object.id": "355",
        "object.label": "reliontomo - Reconstruct tomograms from prepare data prot",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "recTomoMode": 0,
        "tomoId": "TS_45",
        "binFactor": 4.0,
        "width": -1,
        "height": -1,
        "thickness": -1,
        "hostName": "localhost",
        "numberOfThreads": 4,
        "protPrepare": "270."
    },
    {
        "object.className": "ProtRelionReconstructParticle",
        "object.id": "418",
        "object.label": "reliontomo - Reconstruct particle from tilt series",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 12,
        "numberOfMpi": 1,
        "boxSize": 192,
        "croppedBoxSize": 96,
        "binningFactor": 4.0,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "inReParticles": "270.relionParticles"
    },
    {
        "object.className": "ProtRelionMakePseudoSubtomograms",
        "object.id": "457",
        "object.label": "reliontomo - Make pseudo-subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 12,
        "numberOfMpi": 1,
        "boxSize": 192,
        "croppedBoxSize": 96,
        "binningFactor": 4.0,
        "applyConeWeight": false,
        "coneAngle": 10.0,
        "applyOffsets": false,
        "outputInFloat16": true,
        "inReParticles": "270.relionParticles"
    },
    {
        "object.className": "ProtRelion3DClassifySubtomograms",
        "object.id": "603",
        "object.label": "reliontomo - 3D Classification of subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isMapAbsoluteGreyScale": true,
        "initialLowPassFilterA": 30.0,
        "symmetry": "C6",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "numberOfClasses": 1,
        "regularisation": 4.0,
        "nIterations": 3,
        "useFastSubsets": false,
        "maskDiameter": 230,
        "zeroMask": true,
        "limitResolutionEStepTo": -1.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5,
        "offsetSearchStepPix": 1.0,
        "doLocalAngleSearch": false,
        "localAngularSearchRange": 5.0,
        "relaxSym": null,
        "allowCoarser": false,
        "parallelDiscIO": true,
        "pooledSubtomos": 16,
        "skipGridding": true,
        "allParticlesRam": false,
        "combineItersDisc": false,
        "scratchDir": null,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": "--sigma_tilt 3.667 --sigma_psi 3.667",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 3,
        "referenceVolume": "418.average",
        "inReParticles": "457.relionParticles"
    },
    {
        "object.className": "ProtRelionEditParticlesStar",
        "object.id": "717",
        "object.label": "reliontomo - Apply operation to Relion particles",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "doRecenter": true,
        "shiftX": 0.0,
        "shiftY": 0.0,
        "shiftZ": 2.75,
        "chosenOperation": 0,
        "opValue": 1.0,
        "operateWith": 0,
        "label1x": false,
        "label2y": false,
        "label3z": false,
        "label1sx": false,
        "label2sy": false,
        "label3sz": false,
        "label1rot": false,
        "label2tilt": false,
        "label3psi": false,
        "inReParticles": "603.relionParticles"
    },
    {
        "object.className": "ProtRelionReconstructParticle",
        "object.id": "802",
        "object.label": "reliontomo - Reconstruct particle from tilt series (2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 12,
        "numberOfMpi": 1,
        "boxSize": 192,
        "croppedBoxSize": 96,
        "binningFactor": 4.0,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "inReParticles": "717.relionParticles"
    },
    {
        "object.className": "ProtImportMask",
        "object.id": "841",
        "object.label": "pwem - Bin4_import mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "maskPath": "/home/tomo/data/workshop2022/Day3_HIV/Masks/mask_align_bin4.mrc",
        "samplingRate": 5.4
    },
    {
        "object.className": "ProtRelion3DClassifySubtomograms",
        "object.id": "924",
        "object.label": "reliontomo - 3D Classification of subtomograms (copy)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isMapAbsoluteGreyScale": true,
        "initialLowPassFilterA": 40.0,
        "symmetry": "C6",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "numberOfClasses": 1,
        "regularisation": 4.0,
        "nIterations": 3,
        "useFastSubsets": false,
        "maskDiameter": 230,
        "zeroMask": true,
        "limitResolutionEStepTo": -1.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5,
        "offsetSearchStepPix": 1.0,
        "doLocalAngleSearch": false,
        "localAngularSearchRange": 5.0,
        "relaxSym": null,
        "allowCoarser": false,
        "parallelDiscIO": true,
        "pooledSubtomos": 16,
        "skipGridding": true,
        "allParticlesRam": false,
        "combineItersDisc": false,
        "scratchDir": null,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": "--sigma_tilt 3.667 --sigma_psi 3.667",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 3,
        "inReParticles": "717.relionParticles",
        "referenceVolume": "802.average",
        "solventMask": "841.outputMask"
    },
    {
        "object.className": "ProtImportMask",
        "object.id": "994",
        "object.label": "pwem - Bin2_import mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "maskPath": "/home/tomo/data/workshop2022/Day3_HIV/Masks/mask_align_bin2.mrc",
        "samplingRate": 2.7
    },
    {
        "object.className": "ProtExtractCoordsFromPSubtomos",
        "object.id": "1076",
        "object.label": "reliontomo - extract coordinates from pseudo-subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "924.relionParticles"
    },
    {
        "object.className": "ProtRelionReconstructParticle",
        "object.id": "1116",
        "object.label": "reliontomo - Reconstruct particle from tilt series (3)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 20,
        "numberOfMpi": 1,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "binningFactor": 2.0,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "inReParticles": "924.relionParticles"
    },
    {
        "object.className": "ProtRelionMakePseudoSubtomograms",
        "object.id": "1155",
        "object.label": "reliontomo - Make pseudo-subtomograms (2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "hostName": "localhost",
        "numberOfThreads": 12,
        "numberOfMpi": 1,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "binningFactor": 2.0,
        "applyConeWeight": false,
        "coneAngle": 10.0,
        "applyOffsets": false,
        "outputInFloat16": true,
        "inReParticles": "924.relionParticles"
    },
    {
        "object.className": "EmanProtTomoExtraction",
        "object.id": "1194",
        "object.label": "emantomo - extraction from tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "tomoSource": 0,
        "boxSize": 96.0,
        "downFactor": 1.0,
        "doInvert": true,
        "doNormalize": true,
        "normproc": 0,
        "inputCoordinates": "1076.coordinates"
    },
    {
        "object.className": "ProtRelion3DClassifySubtomograms",
        "object.id": "1343",
        "object.label": "reliontomo - 3D Classification of subtomograms (copy 2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isMapAbsoluteGreyScale": true,
        "initialLowPassFilterA": 30.0,
        "symmetry": "C6",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "numberOfClasses": 1,
        "regularisation": 4.0,
        "nIterations": 3,
        "useFastSubsets": false,
        "maskDiameter": 230,
        "zeroMask": true,
        "limitResolutionEStepTo": -1.0,
        "doImageAlignment": true,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5,
        "offsetSearchStepPix": 1.0,
        "doLocalAngleSearch": false,
        "localAngularSearchRange": 5.0,
        "relaxSym": null,
        "allowCoarser": false,
        "parallelDiscIO": true,
        "pooledSubtomos": 16,
        "skipGridding": true,
        "allParticlesRam": false,
        "combineItersDisc": false,
        "scratchDir": null,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": "--sigma_tilt 3.667 --sigma_psi 3.667",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 3,
        "solventMask": "994.outputMask",
        "referenceVolume": "1116.average",
        "inReParticles": "1155.relionParticles"
    },
    {
        "object.className": "ProtRelionSubTomoReconstructAvg",
        "object.id": "1413",
        "object.label": "reliontomo - Rec. particle averaging subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "symmetryGroup": "c6",
        "maxRes": -1.0,
        "pad": 2.0,
        "subset": 0,
        "classNum": -1,
        "extraParams": "",
        "doCTF": false,
        "ctfIntactFirstPeak": false,
        "hostName": "localhost",
        "numberOfMpi": 1,
        "inputSubtomos": "1194.subtomograms"
    },
    {
        "object.className": "XmippProtSubtomoMapBack",
        "object.id": "1461",
        "object.label": "xmipptomo - map back subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "selection": 1,
        "invertContrast": false,
        "paintingType": 0,
        "removeBackground": true,
        "threshold": 0.5,
        "constant": 100000.0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "inputTomograms": "156.outputTomograms",
        "inputSubtomos": "1076.coordinates",
        "inputRef": "1413.average"
    }
]