tutorial - from movies to refined volume (at low resolution): (EMPIAR-10164).
You'll need to download this dataset -> scipion3 testdata --download reliontomo_STA_HIV_smalldataset
[
    {
        "object.className": "ProtImportTsMovies",
        "object.id": "2",
        "object.label": "tomo - import tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "/home/scipion/scipion3/data/tests/reliontomo_STA_HIV_smalldataset/",
        "filesPattern": "*.mdoc",
        "isTomo5": false,
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": 0.675,
        "tiltAxisAngle": null,
        "doseInitial": 0.0,
        "dosePerFrame": 3.0,
        "gainFile": null,
        "darkFile": null
    },
    {
        "object.className": "ProtTsMotionCorr",
        "object.id": "51",
        "object.label": "motioncorr - align tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTiltSeriesM": "2.outputTiltSeriesM",
        "alignFrame0": 1,
        "alignFrameN": 8,
        "useAlignToSum": true,
        "sumFrame0": 1,
        "sumFrameN": 0,
        "binFactor": 2.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": false,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "gpuList": "0",
        "patchX": 0,
        "patchY": 0,
        "patchOverlap": 0,
        "group": 1,
        "groupLocal": 4,
        "tol": 0.2,
        "extraParams2": "",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 32,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0
    },
    {
        "object.className": "ProtFidderDetectAndEraseFiducials",
        "object.id": "114",
        "object.label": "fidder - detect and erase fiducials",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inTsSet": "151.TiltSeries",
        "probThreshold": 0.5,
        "doEvenOdd": false,
        "saveMaskStack": false,
        "gpuList": "0",
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "151",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "51.TiltSeries_2",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "189",
        "object.label": "imod - Dose filter",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "151.TiltSeries",
        "initialDose": 0.0,
        "inputDoseType": 0,
        "fixedImageDose": 1.0,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtImodXcorrPrealignment",
        "object.id": "226",
        "object.label": "imod - Coarse prealignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "189.TiltSeries",
        "cumulativeCorr": false,
        "computeAlignment": true,
        "binning": 2,
        "Trimming parameters": null,
        "tiltAxisAngle": null,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.25,
        "filterSigma2": 0.05,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodFiducialModel",
        "object.id": "273",
        "object.label": "imod - Generate fiducial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "typeOfModel": 0,
        "inputSetOfTiltSeries": "226.TiltSeries",
        "sizeOfPatches": "680 680",
        "patchLayout": 0,
        "overlapPatches": "0.33 0.33",
        "numberOfPatches": null,
        "iterationsSubpixel": 1,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.125,
        "filterSigma2": 0.03,
        "fiducialDiameter": 10.0,
        "twoSurfaces": true,
        "numberFiducial": 25,
        "doTrackWithModel": true,
        "refineSobelFilter": true,
        "scalableSigmaForSobelFilter": 0.12
    },
    {
        "object.className": "ProtImodFiducialAlignment",
        "object.id": "327",
        "object.label": "imod - Fiducial alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfLandmarkModels": "273.FiducialModelGaps",
        "twoSurfaces": true,
        "computeAlignment": true,
        "binning": 2,
        "rotationSolutionType": 2,
        "groupRotationSize": 5,
        "magnificationSolutionType": 0,
        "groupMagnificationSize": 4,
        "tiltAngleSolutionType": 1,
        "groupTiltAngleSize": 5,
        "distortionSolutionType": 0,
        "xStretchGroupSize": 7,
        "skewGroupSize": 11
    },
    {
        "object.className": "ProtAssignTransformationMatrixTiltSeries",
        "object.id": "372",
        "object.label": "tomo - Tilt-series assign alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "getTMSetOfTiltSeries": "327.TiltSeries",
        "setTMSetOfTiltSeries": "114.tiltSeries"
    },
    {
        "object.className": "ProtImodTsNormalization",
        "object.id": "408",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "505.TiltSeries",
        "binning": 4,
        "floatDensities": 2,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "modeToOutput": 0,
        "antialias": 5,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "CistemProtTsCtffind",
        "object.id": "450",
        "object.label": "cistem - tilt-series ctffind",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTiltSeries": "51.TiltSeries_2",
        "ctfDownFactor": 1.0,
        "windowSize": 512,
        "lowRes": 50.0,
        "highRes": 5.0,
        "minDefocus": 10000.0,
        "maxDefocus": 50000.0,
        "stepDefocus": 500.0,
        "slowSearch": false,
        "fixAstig": true,
        "astigmatism": 200.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 180.0,
        "stepPhaseShift": 10.0,
        "hostName": "localhost",
        "numberOfThreads": 1,
        "numberOfMpi": 1,
        "measureTilt": false,
        "measureThickness": false,
        "search1D": true,
        "refine2D": true,
        "lowResNodes": 30.0,
        "highResNodes": 3.0,
        "useRoundedSquare": false,
        "downweightNodes": false
    },
    {
        "object.className": "ProtImodCtfCorrection",
        "object.id": "505",
        "object.label": "imod - CTF correction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "372.tiltSeries",
        "inputSetOfCtfTomoSeries": "450.goodSetOfCTFTomoSeries2",
        "defocusTol": 200,
        "interpolationWidth": 15,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtTomo3dReconstrucTomo",
        "object.id": "546",
        "object.label": "tomo3d - reconstruct tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "408.TiltSeries",
        "doEvenOdd": false,
        "method": 1,
        "nIterations": 30,
        "setShape": true,
        "height": 300,
        "width": 0,
        "iniSlice": 0,
        "finSlice": 0,
        "Hamming": 0.0,
        "binThreads": 10,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtTomo3dProtDenoiseTomogram",
        "object.id": "589",
        "object.label": "tomo3d - denoise tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetTomograms": "546.tomograms",
        "method": 0,
        "SigmaGaussian": 0.5,
        "nIter": 10,
        "nIterBflow": 70,
        "Lambda": -1.0,
        "TimeStep": 0.1,
        "TimeStepBflow": 0.15,
        "binThreads": 10,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "DynamoBoxing",
        "object.id": "630",
        "object.label": "dynamo - vectorial picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "589.tomograms",
        "boxSize": 64,
        "deleteGenMFiles": true
    },
    {
        "object.className": "DynamoModelWorkflow",
        "object.id": "665",
        "object.label": "dynamo - model workflow",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputMeshes": "630.meshes",
        "boxSize": 64,
        "meshParameter": 5,
        "maxTr": 100000,
        "doRefineMesh": false,
        "subDivision": 2,
        "cropping": 10,
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "704",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "665.coordinates",
        "inputCtfTs": "450.goodSetOfCTFTomoSeries2",
        "inputTS": "372.tiltSeries",
        "binThreads": 5,
        "handedness": true,
        "binningFactor": 6.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": false,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "751",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "665.coordinates",
        "inputCtfTs": "450.goodSetOfCTFTomoSeries2",
        "inputTS": "372.tiltSeries",
        "binThreads": 5,
        "handedness": true,
        "binningFactor": 6.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": true,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionDeNovoInitialModel",
        "object.id": "798",
        "object.label": "reliontomo - 3D initial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "704.relionParticles",
        "binThreads": 8,
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "nVdamMiniBatches": 40,
        "regularisation": 4.0,
        "numberOfClasses": 1,
        "maskDiameter": 350,
        "flattenSolvent": true,
        "symmetry": "C6",
        "doInC1AndApplySymLater": true,
        "priorWidthTiltAngle": 10,
        "angularSamplingDeg": 1,
        "offsetSearchRangePix": 6.0,
        "offsetSearchStepPix": 2.0,
        "parallelDiscIO": true,
        "pooledSubtomos": 30,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "856",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "751.relionParticles",
        "binThreads": 15,
        "referenceVolume": "798.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 60.0,
        "symmetry": "C6",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 350,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": 10,
        "parallelDiscIO": true,
        "pooledSubtomos": 30,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionCreateMask3D",
        "object.id": "1537",
        "object.label": "relion - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "856.average",
        "initialLowPassFilterA": 25.0,
        "threshold": 0.015,
        "doCompare": false,
        "operation": 0,
        "extend": 5,
        "edge": 8,
        "doInvert": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "1579",
        "object.label": "reliontomo - Reconstruct particle Relion 5",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "856.relionParticles",
        "binThreads": 3,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 6.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionPostProcess",
        "object.id": "1716",
        "object.label": "reliontomo - Post-processing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inVolume": "1579.average",
        "solventMask": "1537.outputMask",
        "calPixSize": -1.0,
        "estimateBFactor": true,
        "lowestResBFit": 10.0,
        "useOwnBFactor": false,
        "userBFactor": -1000,
        "skipFscWeight": false,
        "adHocLowPassFilter": 5,
        "mtf": null,
        "origDetectorPixSize": 1.0,
        "extraParams": null
    },
    {
        "object.className": "XmippProtMonoRes",
        "object.id": "1835",
        "object.label": "xmipp3 - local MonoRes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useHalfVolumes": true,
        "hasHalfVolumesFile": true,
        "associatedHalves": "1579.average",
        "mask": "1537.outputMask",
        "significance": 0.95,
        "maskThreshold": 0.5,
        "noiseOnlyInHalves": true,
        "gaussianNoise": false,
        "minRes": 15.0,
        "maxRes": 30.0,
        "stepSize": null,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "XmippProtFSO",
        "object.id": "1943",
        "object.label": "xmipp3 - resolution fso",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "halfVolumesFile": true,
        "inputHalves": "1579.average",
        "coneAngle": 17.0,
        "estimate3DFSC": true,
        "threshold": 0.143,
        "hostName": "localhost",
        "numberOfThreads": 4
    }
]
