tutorial - from movies to refined volume (SMALL): (EMPIAR-10491).
You'll need to download this dataset -> scipion3 testdata --download tomo_apoferritin_tutorial
[
    {
        "object.className": "ProtImportTsMovies",
        "object.id": "2",
        "object.label": "tomo - import tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "/home/scipion/scipion3/data/tests/tomo_apoferritin_tutorial/",
        "filesPattern": "*.mdoc",
        "isTomo5": false,
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": null,
        "tiltAxisAngle": 85.0,
        "doseInitial": 0.0,
        "dosePerFrame": null,
        "gainFile": "/home/scipion/scipion3/data/tests/tomo_apoferritin_tutorial/gain_ref.mrc",
        "darkFile": null
    },
    {
        "object.className": "ProtWarpTSMotionCorr",
        "object.id": "83",
        "object.label": "warp - tilt-series motion and ctf estimation",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTSMovies": "2.outputTiltSeriesM",
        "gpuList": "0",
        "binFactor": 1.0,
        "m_range_min": 500.0,
        "m_range_max": 10.0,
        "bfactor": -500.0,
        "x": 1,
        "y": 1,
        "z": 3,
        "average_halves": false,
        "gainSwap": 0,
        "gainFlip": 1,
        "EERtext": null,
        "eer_ngroups": 16,
        "eer_groupexposure": null,
        "estimateCTF": true,
        "window": 512,
        "range_min": 30.0,
        "range_max": 7.0,
        "defocus_min": 0.5,
        "defocus_max": 8.0,
        "c_x": 2,
        "c_y": 2,
        "c_z": 1,
        "fit_phase": false,
        "use_sum": false,
        "handedness": false
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "186",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "83.TiltSeries",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtImodTsNormalization",
        "object.id": "253",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "186.TiltSeries",
        "binning": 10,
        "floatDensities": 2,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "modeToOutput": 0,
        "antialias": 5,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtImodBRT",
        "object.id": "478",
        "object.label": "imod - teamtomo/batchruntomo",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "253.TiltSeries",
        "alignMode": 1,
        "fidSize": 10,
        "patchSize": 500,
        "patchOverlapPercent": 80,
        "computeAlignment": true,
        "binning": 1,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodTomoReconstruction",
        "object.id": "575",
        "object.label": "imod - Tomo reconstruction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "478.TiltSeries",
        "tomoThickness": 128,
        "tomoWidth": 0,
        "tomoShiftX": 0.0,
        "tomoShiftZ": 0.0,
        "angleOffset": 0.0,
        "tiltAxisOffset": 0.0,
        "superSampleFactor": 2,
        "fakeInteractionsSIRT": 0,
        "radialFirstParameter": 0.35,
        "radialSecondParameter": 0.035,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "SphireProtCRYOLOTomoPicking",
        "object.id": "647",
        "object.label": "sphire - cryolo tomo picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "575.Tomograms",
        "inputModelFrom": 0,
        "conservPickVar": 0.3,
        "lowPassFilter": false,
        "absCutOffFreq": 20.0,
        "numCpus": 4,
        "input_size": 1024,
        "boxSize": 32,
        "max_box_per_image": 700,
        "useGpu": true,
        "gpuList": "0",
        "searchRange": -1,
        "minLength": 5,
        "memory": 0,
        "doFilament": false,
        "box_distance": 20,
        "minimum_number_boxes": null,
        "straightness_method": 1,
        "straightness_threshold": 0.95,
        "search_range_factor": 1.41,
        "angle_delta": 10,
        "directional_method": 1,
        "filament_width": null,
        "mask_width": 100,
        "nomerging": false
    },
    {
        "object.className": "ProtAssignTransformationMatrixTiltSeries",
        "object.id": "714",
        "object.label": "tomo - Tilt-series assign alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "getTMSetOfTiltSeries": "478.TiltSeries",
        "setTMSetOfTiltSeries": "186.TiltSeries"
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "779",
        "object.label": "reliontomo - Extract subtomos 3d bin10",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "647.output3DCoordinates",
        "inputCtfTs": "83.goodSetOfCTFTomoSeries2",
        "inputTS": "714.tiltSeries",
        "binThreads": 3,
        "handedness": true,
        "binningFactor": 10.0,
        "boxSize": 64,
        "croppedBoxSize": 24,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": false,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionDeNovoInitialModel",
        "object.id": "830",
        "object.label": "reliontomo - 3D initial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "779.relionParticles",
        "binThreads": 8,
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "nVdamMiniBatches": 30,
        "regularisation": 4.0,
        "numberOfClasses": 1,
        "maskDiameter": 150,
        "flattenSolvent": true,
        "symmetry": "O",
        "doInC1AndApplySymLater": true,
        "priorWidthTiltAngle": 15,
        "angularSamplingDeg": 1,
        "offsetSearchRangePix": 6.0,
        "offsetSearchStepPix": 2.0,
        "parallelDiscIO": true,
        "pooledSubtomos": 60,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "940",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "779.relionParticles",
        "binThreads": 4,
        "referenceVolume": "830.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 30.0,
        "symmetry": "O",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 150,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 30,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "1007",
        "object.label": "reliontomo - Extract subtomos bin4",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "940.relionParticles",
        "inputCtfTs": "83.goodSetOfCTFTomoSeries2",
        "inputTS": "714.tiltSeries",
        "binThreads": 8,
        "handedness": true,
        "binningFactor": 4.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": true,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "1054",
        "object.label": "reliontomo - Reconstruct particle Relion 5",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "940.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 4.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "symmetry": "O",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "1188",
        "object.label": "reliontomo - 3D auto-refine (2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "1007.relionParticles",
        "binThreads": 4,
        "referenceVolume": "1054.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 7.0,
        "symmetry": "O",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 150,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 40,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "1255",
        "object.label": "reliontomo - Extract subtomos bin2",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "1188.relionParticles",
        "inputCtfTs": "83.goodSetOfCTFTomoSeries2",
        "inputTS": "714.tiltSeries",
        "binThreads": 8,
        "handedness": true,
        "binningFactor": 2.0,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": true,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "1436",
        "object.label": "reliontomo - 3D auto-refine (3)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "1255.relionParticles",
        "binThreads": 8,
        "referenceVolume": "1693.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 6.0,
        "symmetry": "O",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 150,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 20,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "1693",
        "object.label": "reliontomo - Reconstruct particle Relion 5 (copy 2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "1255.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 2.0,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "symmetry": "O",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionCreateMask3D",
        "object.id": "1835",
        "object.label": "relion - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "1436.average",
        "initialLowPassFilterA": 15.0,
        "threshold": 0.007,
        "doCompare": false,
        "operation": 0,
        "extend": 3,
        "edge": 6,
        "doInvert": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "1883",
        "object.label": "reliontomo - Reconstruct particle Relion 5 (2)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "1436.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 2.0,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "symmetry": "O",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionPostProcess",
        "object.id": "1923",
        "object.label": "reliontomo - Post-processing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inVolume": "1883.average",
        "solventMask": "1835.outputMask",
        "calPixSize": -1.0,
        "estimateBFactor": true,
        "lowestResBFit": 10.0,
        "useOwnBFactor": false,
        "userBFactor": -1000,
        "skipFscWeight": false,
        "adHocLowPassFilter": 5,
        "mtf": null,
        "origDetectorPixSize": 1.0,
        "extraParams": null
    },
    {
        "object.className": "XmippProtFSO",
        "object.id": "2062",
        "object.label": "xmipp3 - resolution fso",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "halfVolumesFile": true,
        "inputHalves": "1883.average",
        "mask": "1835.outputMask",
        "coneAngle": 17.0,
        "estimate3DFSC": true,
        "threshold": 0.143,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "XmippProtMonoRes",
        "object.id": "2231",
        "object.label": "xmipp3 - local MonoRes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useHalfVolumes": false,
        "hasHalfVolumesFile": true,
        "fullMap": "1883.average",
        "mask": "1835.outputMask",
        "significance": 0.9,
        "maskThreshold": 0.5,
        "noiseOnlyInHalves": true,
        "gaussianNoise": true,
        "minRes": 0.0,
        "maxRes": 8.0,
        "stepSize": null,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "XmippProtLocSharp",
        "object.id": "2321",
        "object.label": "xmipp3 - localdeblur sharpening",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "1883.average",
        "resolutionVolume": "2231.resolution_Volume",
        "const": 1.0,
        "K": 0.025,
        "Niter": 1,
        "hostName": "localhost",
        "numberOfThreads": 4
    }
]
