tutorial - from movies to refined volume (SMALL): (EMPIAR-10491).
You'll need to download this dataset -> scipion3 testdata --download tomo_apoferritin_tutorial
[
    {
        "object.className": "ProtImportTsMovies",
        "object.id": "2",
        "object.label": "tomo - import tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "%(SCIPION_TESTS)s/tomo_apoferritin_tutorial/",
        "filesPattern": "*.mdoc",
        "isTomo5": false,
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": null,
        "tiltAxisAngle": 85.0,
        "doseInitial": 0.0,
        "dosePerFrame": null,
        "gainFile": "%(SCIPION_TESTS)s/tomo_apoferritin_tutorial/gain_ref.mrc",
        "darkFile": null
    },
    {
        "object.className": "ProtWarpTSMotionCorr",
        "object.id": "52",
        "object.label": "warp - tilt-series motion and ctf estimation",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTSMovies": "2.outputTiltSeriesM",
        "gpuList": "0",
        "binFactor": 1.0,
        "m_range_min": 500.0,
        "m_range_max": 10.0,
        "bfactor": -500.0,
        "x": 1,
        "y": 1,
        "z": 3,
        "average_halves": false,
        "gainSwap": 0,
        "gainFlip": 1,
        "EERtext": null,
        "eer_ngroups": 16,
        "eer_groupexposure": null,
        "estimateCTF": true,
        "window": 512,
        "range_min": 30.0,
        "range_max": 7.0,
        "defocus_min": 0.5,
        "defocus_max": 8.0,
        "c_x": 2,
        "c_y": 2,
        "c_z": 1,
        "fit_phase": false,
        "use_sum": false,
        "handedness": false,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "streamingSleepOnWait": 10
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "113",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "52.TiltSeries",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtAreTomoAlignRecon",
        "object.id": "2173",
        "object.label": "aretomo - tilt-series align and reconstruct (copy 5)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "113.TiltSeries_3",
        "skipAlign": false,
        "makeTomo": true,
        "doEvenOdd": false,
        "binFactor": 8,
        "alignZ": 100,
        "alignZfile": null,
        "tomoThickness": 1024,
        "refineTiltAngles": 2,
        "refineTiltAxis": 2,
        "outImod": 0,
        "doEstimateCtf": true,
        "doPhaseShiftSearch": false,
        "minPhaseShift": 0,
        "maxPhaseShift": 0,
        "doDW": true,
        "reconMethod": 0,
        "SARTiter": 15,
        "SARTproj": 5,
        "flipInt": false,
        "flipVol": true,
        "roiArea": "",
        "sampleType": 0,
        "coordsFn": "",
        "patchX": 5,
        "patchY": 5,
        "darkTol": 0.7,
        "extraParams": "",
        "gpuList": "0",
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "SphireProtCRYOLOTomoPicking",
        "object.id": "2751",
        "object.label": "sphire - cryolo tomo picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "2173.Tomograms",
        "inputModelFrom": 0,
        "conservPickVar": 0.3,
        "lowPassFilter": false,
        "absCutOffFreq": 20.0,
        "numCpus": 4,
        "input_size": 1024,
        "boxSize": 32,
        "max_box_per_image": 700,
        "useGpu": true,
        "gpuList": "0",
        "searchRange": -1,
        "minLength": 5,
        "memory": 0,
        "doFilament": false,
        "box_distance": 20,
        "minimum_number_boxes": null,
        "straightness_method": 1,
        "straightness_threshold": 0.95,
        "search_range_factor": 1.41,
        "angle_delta": 10,
        "directional_method": 1,
        "filament_width": null,
        "mask_width": 100,
        "nomerging": false
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "2810",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "2751.output3DCoordinates",
        "inputCtfTs": "52.goodSetOfCTFTomoSeries2",
        "inputTS": "2173.TiltSeries",
        "binThreads": 8,
        "handedness": true,
        "binningFactor": 10.0,
        "boxSize": 64,
        "croppedBoxSize": 32,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": false,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionDeNovoInitialModel",
        "object.id": "2857",
        "object.label": "reliontomo - 3D initial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "2810.relionParticles",
        "binThreads": 8,
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "nVdamMiniBatches": 30,
        "regularisation": 4.0,
        "numberOfClasses": 1,
        "maskDiameter": 130,
        "flattenSolvent": true,
        "symmetry": "O",
        "doInC1AndApplySymLater": true,
        "priorWidthTiltAngle": -1,
        "angularSamplingDeg": 1,
        "offsetSearchRangePix": 6.0,
        "offsetSearchStepPix": 2.0,
        "parallelDiscIO": true,
        "pooledSubtomos": 60,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "2915",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "2810.relionParticles",
        "binThreads": 4,
        "referenceVolume": "2857.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 30.0,
        "symmetry": "O",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 150,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 30,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "2982",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "2915.relionParticles",
        "inputCtfTs": "52.goodSetOfCTFTomoSeries2",
        "inputTS": "2173.TiltSeries",
        "binThreads": 8,
        "handedness": true,
        "binningFactor": 4.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": true,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "3029",
        "object.label": "reliontomo - Reconstruct particle Relion 5",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "2915.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 4.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "symmetry": "O",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "3069",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "2982.relionParticles",
        "binThreads": 4,
        "referenceVolume": "3029.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 7.0,
        "symmetry": "O",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 150,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 40,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "3136",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "3069.relionParticles",
        "inputCtfTs": "52.goodSetOfCTFTomoSeries2",
        "inputTS": "2173.TiltSeries",
        "binThreads": 8,
        "handedness": true,
        "binningFactor": 2.0,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": true,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "3183",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "3136.relionParticles",
        "binThreads": 8,
        "referenceVolume": "3250.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 6.0,
        "symmetry": "O",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 150,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 20,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "3250",
        "object.label": "reliontomo - Reconstruct particle Relion 5",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "3136.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 2.0,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "symmetry": "O",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionPostProcess",
        "object.id": "3372",
        "object.label": "reliontomo - Post-processing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inVolume": "3183.average",
        "solventMask": "3922.outputMask",
        "calPixSize": -1.0,
        "estimateBFactor": true,
        "lowestResBFit": 10.0,
        "useOwnBFactor": false,
        "userBFactor": -1000,
        "skipFscWeight": false,
        "adHocLowPassFilter": 5,
        "mtf": null,
        "origDetectorPixSize": 1.0,
        "extraParams": null
    },
    {
        "object.className": "XmippProtFSO",
        "object.id": "3417",
        "object.label": "xmipp3 - resolution fso",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "halfVolumesFile": true,
        "inputHalves": "3183.average",
        "mask": "3922.outputMask",
        "coneAngle": 17.0,
        "estimate3DFSC": true,
        "threshold": 0.143,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "XmippProtMonoRes",
        "object.id": "3460",
        "object.label": "xmipp3 - local MonoRes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useHalfVolumes": false,
        "hasHalfVolumesFile": true,
        "fullMap": "3183.average",
        "mask": "3922.outputMask",
        "significance": 0.9,
        "maskThreshold": 0.5,
        "noiseOnlyInHalves": true,
        "gaussianNoise": true,
        "minRes": 0.0,
        "maxRes": 8.0,
        "stepSize": null,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "XmippProtLocSharp",
        "object.id": "3514",
        "object.label": "xmipp3 - localdeblur sharpening",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "3183.average",
        "resolutionVolume": "3460.resolution_Volume",
        "const": 1.0,
        "K": 0.025,
        "Niter": 1,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "XmippProtCreateMask3D",
        "object.id": "3922",
        "object.label": "xmipp3 - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "source": 0,
        "inputVolume": "3183.average",
        "volumeOperation": 0,
        "threshold": 0.00407,
        "segmentationType": 2,
        "nvoxels": null,
        "naminoacids": null,
        "dalton": null,
        "samplingRate": 1.0,
        "size": null,
        "geo": 0,
        "radius": -1,
        "shiftCenter": false,
        "centerX": 0,
        "centerY": 0,
        "centerZ": 0,
        "boxSize": -1,
        "innerRadius": 0,
        "outerRadius": -1,
        "height": -1,
        "sigma": -1.0,
        "borderDecay": 0,
        "featureFilePath": null,
        "doSmall": true,
        "smallSize": 50,
        "doBig": true,
        "doSymmetrize": false,
        "symmetry": "c1",
        "doMorphological": true,
        "morphologicalOperation": 0,
        "elementSize": 3,
        "doInvert": false,
        "doSmooth": true,
        "sigmaConvolution": 5.0
    }
]
