tutorial - Subtomogram Averaging of Ribosomes of Chlamydomonas reinhardtii prepared using cryo-plasmaFIB milling (SMALL): (EMPIAR-10830).
You'll need to download this dataset -> scipion3 testdata --download chlamy_data_tutorial
[
    {
        "object.className": "ProtImportTsMovies",
        "object.id": "2",
        "object.label": "tomo - import tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "%(SCIPION_TESTS)s/chlamy_data_tutorial/",
        "filesPattern": "*/frames/*.mdoc",
        "isTomo5": true,
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "importAction": 2,
        "voltage": null,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": 1.91,
        "tiltAxisAngle": -95.0,
        "doseInitial": 0.0,
        "dosePerFrame": null,
        "gainFile": "",
        "darkFile": null
    },
    {
        "object.className": "ProtWarpTSMotionCorr",
        "object.id": "52",
        "object.label": "warp - tilt-series motion and ctf estimation",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTSMovies": "2.outputTiltSeriesM",
        "gpuList": "0",
        "binFactor": 1.0,
        "m_range_min": 500.0,
        "m_range_max": 10.0,
        "bfactor": -500.0,
        "x": null,
        "y": null,
        "z": null,
        "average_halves": true,
        "gainSwap": 0,
        "gainFlip": 0,
        "EERtext": null,
        "eer_ngroups": 8,
        "eer_groupexposure": null,
        "estimateCTF": true,
        "window": 512,
        "range_min": 30.0,
        "range_max": 8.0,
        "defocus_min": 0.5,
        "defocus_max": 8.0,
        "c_x": 1,
        "c_y": 1,
        "c_z": 8,
        "fit_phase": false,
        "use_sum": false,
        "handedness": false,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "streamingSleepOnWait": 10
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "113",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "52.TiltSeries_3",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": true,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtAreTomoAlignRecon",
        "object.id": "151",
        "object.label": "aretomo - tilt-series align and reconstruct",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "113.TiltSeries",
        "skipAlign": false,
        "makeTomo": true,
        "doEvenOdd": true,
        "binFactor": 4,
        "alignZ": 1000,
        "alignZfile": null,
        "tomoThickness": 2048,
        "refineTiltAngles": 2,
        "refineTiltAxis": 1,
        "outImod": 0,
        "doEstimateCtf": true,
        "doPhaseShiftSearch": false,
        "minPhaseShift": 0,
        "maxPhaseShift": 0,
        "doDW": true,
        "reconMethod": 1,
        "SARTiter": 15,
        "SARTproj": 5,
        "flipInt": false,
        "flipVol": true,
        "roiArea": "",
        "sampleType": 0,
        "coordsFn": "",
        "patchX": 5,
        "patchY": 5,
        "darkTol": 0.7,
        "extraParams": "",
        "gpuList": "0",
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtImportVolumes",
        "object.id": "215",
        "object.label": "pwem - import volumes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 1,
        "filesPath": null,
        "filesPattern": null,
        "copyFiles": false,
        "emdbId": 50827,
        "setHalfMaps": false,
        "half1map": null,
        "half2map": null,
        "samplingRate": 1.065,
        "setOrigCoord": false,
        "x": null,
        "y": null,
        "z": null,
        "dataStreaming": false,
        "timeout": "12h",
        "fileTimeout": "30"
    },
    {
        "object.className": "XmippProtCropResizeVolumes",
        "object.id": "262",
        "object.label": "xmipp3 - crop/resize volumes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolumes": "215.outputVolume",
        "doResize": true,
        "resizeOption": 0,
        "resizeSamplingRate": 7.64,
        "doFourier": false,
        "resizeDim": 0,
        "resizeFactor": 0.5,
        "resizeLevel": 0,
        "hugeFile": false,
        "doWindow": true,
        "windowOperation": 1,
        "cropSize": 0,
        "windowSize": 54,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "307",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "947.coordinates",
        "inputCtfTs": "151.CTFTomoSeries",
        "inputTS": "151.TiltSeries",
        "binThreads": 8,
        "handedness": true,
        "binningFactor": 8.0,
        "boxSize": 64,
        "croppedBoxSize": 32,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": false,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "354",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "307.relionParticles",
        "binThreads": 8,
        "referenceVolume": "994.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 40.0,
        "symmetry": "C1",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 350,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 1,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "421",
        "object.label": "reliontomo - Reconstruct particle Relion 5",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "354.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 4.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "symmetry": "C1",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "461",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "354.relionParticles",
        "binThreads": 8,
        "handedness": true,
        "binningFactor": 4.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": false,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "508",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "461.relionParticles",
        "binThreads": 8,
        "referenceVolume": "421.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 17.0,
        "symmetry": "C1",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 300,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": -1,
        "parallelDiscIO": true,
        "pooledSubtomos": 30,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "575",
        "object.label": "reliontomo - Reconstruct particle Relion 5",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "508.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 2.0,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "symmetry": "C1",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionPostProcess",
        "object.id": "615",
        "object.label": "reliontomo - Post-processing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inVolume": "575.average",
        "solventMask": "660.outputMask",
        "calPixSize": -1.0,
        "estimateBFactor": true,
        "lowestResBFit": 10.0,
        "useOwnBFactor": false,
        "userBFactor": -1000,
        "skipFscWeight": false,
        "adHocLowPassFilter": 5,
        "mtf": null,
        "origDetectorPixSize": 1.0,
        "extraParams": null
    },
    {
        "object.className": "XmippProtCreateMask3D",
        "object.id": "660",
        "object.label": "xmipp3 - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "source": 0,
        "inputVolume": "575.average",
        "volumeOperation": 0,
        "threshold": 0.17,
        "segmentationType": 2,
        "nvoxels": null,
        "naminoacids": null,
        "dalton": null,
        "samplingRate": 1.0,
        "size": null,
        "geo": 0,
        "radius": -1,
        "shiftCenter": false,
        "centerX": 0,
        "centerY": 0,
        "centerZ": 0,
        "boxSize": -1,
        "innerRadius": 0,
        "outerRadius": -1,
        "height": -1,
        "sigma": -1.0,
        "borderDecay": 0,
        "featureFilePath": null,
        "doSmall": true,
        "smallSize": 50,
        "doBig": true,
        "doSymmetrize": false,
        "symmetry": "c1",
        "doMorphological": true,
        "morphologicalOperation": 0,
        "elementSize": 3,
        "doInvert": false,
        "doSmooth": true,
        "sigmaConvolution": 5.0
    },
    {
        "object.className": "ProtImodCtfCorrection",
        "object.id": "726",
        "object.label": "imod - CTF correction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "151.TiltSeries",
        "inputSetOfCtfTomoSeries": "52.CTFTomoSeries",
        "defocusTol": 200,
        "interpolationWidth": 15,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": true,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtImodTsNormalization",
        "object.id": "766",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "726.TiltSeries",
        "binning": 4,
        "floatDensities": 2,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "modeToOutput": 0,
        "antialias": 5,
        "processOddEven": true,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodTomoReconstruction",
        "object.id": "808",
        "object.label": "imod - Tomo reconstruction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "766.TiltSeries",
        "tomoThickness": 350,
        "tomoWidth": 0,
        "tomoShiftX": 0.0,
        "tomoShiftZ": 0.0,
        "angleOffset": 0.0,
        "tiltAxisOffset": 0.0,
        "superSampleFactor": 2,
        "fakeInteractionsSIRT": 10,
        "radialFirstParameter": 0.35,
        "radialSecondParameter": 0.035,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": true,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtCryoCARETraining",
        "object.id": "854",
        "object.label": "cryocare - CryoCARE Training",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "areEvenOddLinked": true,
        "tomos": "808.Tomograms",
        "tilt_axis": 1,
        "patch_shape": 32,
        "num_slices": 700,
        "n_normalization_samples": 60,
        "split": 0.9,
        "epochs": 70,
        "steps_per_epoch": 50,
        "batch_size": 64,
        "learning_rate": 0.0008,
        "unet_kern_size": 3,
        "unet_n_depth": 3,
        "unet_n_first": 16,
        "gpuList": "0"
    },
    {
        "object.className": "ProtCryoCAREPrediction",
        "object.id": "905",
        "object.label": "cryocare - CryoCARE Prediction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "areEvenOddLinked": true,
        "tomos": "808.Tomograms",
        "model": "854.model",
        "n_tiles": "8 8 8",
        "hostName": "localhost",
        "numberOfThreads": 1,
        "gpuList": "0"
    },
    {
        "object.className": "EmanProtTemplateMatching",
        "object.id": "947",
        "object.label": "emantomo - Template matching picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "905.tomograms",
        "refVol": "262.outputVol",
        "binThreads": 8,
        "nptcl": 800,
        "delta": 22.0,
        "dthr": -1.0,
        "vthr": 6.0,
        "minvol": -1,
        "maxvol": -1,
        "symmetry": "c1",
        "rmedge": false,
        "rmgold": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtRelionDeNovoInitialModel",
        "object.id": "994",
        "object.label": "reliontomo - 3D initial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "307.relionParticles",
        "binThreads": 8,
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "nVdamMiniBatches": 40,
        "regularisation": 4.0,
        "numberOfClasses": 1,
        "maskDiameter": 350,
        "flattenSolvent": true,
        "symmetry": "C1",
        "doInC1AndApplySymLater": true,
        "priorWidthTiltAngle": -1,
        "angularSamplingDeg": 1,
        "offsetSearchRangePix": 6.0,
        "offsetSearchStepPix": 2.0,
        "parallelDiscIO": true,
        "pooledSubtomos": 10,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 1
    }
]
