tutorial - non-oriented picking ribosome: (EMPIAR-10064).
You'll need to download its dataset -> scipion3 testdata --download nonOrientedPicking_tutorial
[
    {
        "object.className": "ProtImportTs",
        "object.id": "2",
        "object.label": "tomo - import tilt-series",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "~Path to tiltseries|%(SCIPION_TESTS)s/nonOrientedPicking_tutorial/|2|tiltseriespath~",
        "filesPattern": "*.mdoc",
        "isTomo5": false,
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "minAngle": -60.0,
        "maxAngle": 60.0,
        "stepAngle": 3.0,
        "ctfCorrected": false,
        "interpolated": false,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": null,
        "tiltAxisAngle": null,
        "doseInitial": 0.0,
        "dosePerFrame": null
    },
    {
        "object.className": "ProtImodTsNormalization",
        "object.id": "478",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "2.outputTiltSeries",
        "binning": 4,
        "floatDensities": 2,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "modeToOutput": 0,
        "antialias": 5,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "549",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "478.TiltSeries",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "587",
        "object.label": "imod - Dose filter",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "549.TiltSeries",
        "initialDose": 0.0,
        "inputDoseType": 0,
        "fixedImageDose": 1.0,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "ProtImodXcorrPrealignment",
        "object.id": "624",
        "object.label": "imod - Coarse prealignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "587.TiltSeries",
        "cumulativeCorr": false,
        "computeAlignment": true,
        "binning": 4,
        "Trimming parameters": null,
        "tiltAxisAngle": null,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.25,
        "filterSigma2": 0.05
    },
    {
        "object.className": "ProtImodFiducialModel",
        "object.id": "671",
        "object.label": "imod - Generate fiducial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "typeOfModel": 0,
        "inputSetOfTiltSeries": "624.TiltSeries",
        "sizeOfPatches": "680 680",
        "patchLayout": 0,
        "overlapPatches": "0.33 0.33",
        "numberOfPatches": null,
        "iterationsSubpixel": 1,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.125,
        "filterSigma2": 0.03,
        "fiducialDiameter": 12.0,
        "twoSurfaces": true,
        "numberFiducial": 10,
        "doTrackWithModel": true,
        "refineSobelFilter": true,
        "scalableSigmaForSobelFilter": 0.12
    },
    {
        "object.className": "ProtImodFiducialAlignment",
        "object.id": "725",
        "object.label": "imod - Fiducial alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfLandmarkModels": "671.FiducialModelGaps",
        "twoSurfaces": true,
        "computeAlignment": true,
        "binning": 4,
        "rotationSolutionType": 2,
        "groupRotationSize": 5,
        "magnificationSolutionType": 0,
        "groupMagnificationSize": 4,
        "tiltAngleSolutionType": 1,
        "groupTiltAngleSize": 5,
        "distortionSolutionType": 0,
        "xStretchGroupSize": 7,
        "skewGroupSize": 11
    },
    {
        "object.className": "ProtImodTomoReconstruction",
        "object.id": "1152",
        "object.label": "imod - Tomo reconstruction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "725.TiltSeries",
        "tomoThickness": 300,
        "tomoWidth": 0,
        "tomoShiftX": 0.0,
        "tomoShiftZ": 0.0,
        "angleOffset": 0.0,
        "tiltAxisOffset": 0.0,
        "superSampleFactor": 2,
        "fakeInteractionsSIRT": 0,
        "radialFirstParameter": 0.35,
        "radialSecondParameter": 0.035,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": false
    },
    {
        "object.className": "SphireProtCRYOLOTomoPicking",
        "object.id": "1225",
        "object.label": "sphire - cryolo tomo picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "1152.Tomograms",
        "inputModelFrom": 0,
        "conservPickVar": 0.4,
        "lowPassFilter": false,
        "absCutOffFreq": 20.0,
        "numCpus": 4,
        "input_size": 1024,
        "boxSize": 50,
        "max_box_per_image": 700,
        "useGpu": true,
        "gpuList": "0",
        "searchRange": -1,
        "minLength": 5,
        "memory": 0,
        "doFilament": false,
        "box_distance": 20,
        "minimum_number_boxes": null,
        "straightness_method": 1,
        "straightness_threshold": 0.95,
        "search_range_factor": 1.41,
        "angle_delta": 10,
        "directional_method": 1,
        "filament_width": null,
        "mask_width": 100,
        "nomerging": false
    },
    {
        "object.className": "ProtImportVolumes",
        "object.id": "1286",
        "object.label": "pwem - import volumes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 1,
        "filesPath": null,
        "filesPattern": null,
        "copyFiles": false,
        "emdbId": 3418,
        "setHalfMaps": false,
        "half1map": null,
        "half2map": null,
        "samplingRate": 2.62,
        "setOrigCoord": false,
        "x": null,
        "y": null,
        "z": null,
        "dataStreaming": false,
        "timeout": "12h",
        "fileTimeout": "30"
    },
    {
        "object.className": "ProtRelionResizeVolume",
        "object.id": "1349",
        "object.label": "relion - crop/resize volumes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolumes": "1286.outputVolume",
        "doRescale": true,
        "rescaleSamplingRate": 10.48,
        "doResize": false,
        "resizeSize": 0,
        "hostName": "localhost"
    },
    {
        "object.className": "EmanProtTemplateMatching",
        "object.id": "1394",
        "object.label": "emantomo - Template matching picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "1152.Tomograms",
        "refVol": "1349.outputVol",
        "nptcl": 1000,
        "delta": 30.0,
        "dthr": -1.0,
        "vthr": 6.0,
        "minvol": -1,
        "maxvol": -1,
        "symmetry": "c1",
        "rmedge": true,
        "rmgold": true,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "1597",
        "object.label": "create subset",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputObject": "1394.coordinates",
        "other": null,
        "sqliteFile": "Runs/001394_EmanProtTemplateMatching/coordinates_state.sqlite,",
        "outputClassName": "SetOfCoordinates3D"
    },
    {
        "object.className": "EmanProtTomoExtraction",
        "object.id": "1743",
        "object.label": "emantomo - Subtomograms extraction from tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": "1597.outputCoordinates3D",
        "tomoSource": 0,
        "boxSize": 40.0,
        "doInvert": true,
        "doNormalize": true,
        "normproc": 0
    },
    {
        "object.className": "EmanProtSubTomoAverage",
        "object.id": "1808",
        "object.label": "emantomo - average subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfSubTomogram": "1743.subtomograms",
        "symmetry": "c1",
        "msWedge": 3.0,
        "skipPostProc": true,
        "keepHdfFile": false,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "EmanProtTomoInitialModel",
        "object.id": "2331",
        "object.label": "emantomo - Initial mode",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "particles": "1743.subtomograms",
        "reference": "1808.averageSubTomos",
        "symmetry": "c1",
        "filterto": 0.02,
        "fourier": true,
        "batchSize": 20,
        "learningRate": 0.1,
        "numberOfIterations": 2,
        "numberOfBatches": 10,
        "shrink": 1,
        "applySim": false
    },
    {
        "object.className": "ProtAreTomoAlignRecon",
        "object.id": "2377",
        "object.label": "aretomo - tilt-series align and reconstruct (copy)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "2.outputTiltSeries",
        "skipAlign": false,
        "makeTomo": true,
        "saveStack": true,
        "useInputProt": false,
        "binFactor": 4,
        "alignZ": 600,
        "alignZfile": null,
        "tomoThickness": 1200,
        "refineTiltAngles": 1,
        "refineTiltAxis": 1,
        "outImod": 0,
        "doEstimateCtf": true,
        "doPhaseShiftSearch": false,
        "minPhaseShift": 0,
        "maxPhaseShift": 0,
        "doDW": true,
        "reconMethod": 1,
        "SARTiter": 15,
        "SARTproj": 5,
        "flipInt": false,
        "flipVol": true,
        "roiArea": "",
        "sampleType": 0,
        "coordsFn": "",
        "patchX": 5,
        "patchY": 5,
        "darkTol": 0.7,
        "extraParams": "",
        "gpuList": "0",
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "DynamoSubTomoMRA",
        "object.id": "2515",
        "object.label": "dynamo - Subtomogram alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useGpu": true,
        "gpuList": "0",
        "inputVolumes": "1743.subtomograms",
        "templateRef": "2331.average",
        "numberOfIters": "5",
        "dim": "0",
        "useDynamoGui": false,
        "cr": "360",
        "cs": "45",
        "cf": "0",
        "inplane_range": "360",
        "inplane_sampling": "45",
        "inplane_flip": "0",
        "rf": "5",
        "rff": "2",
        "lim": "4",
        "limm": "0",
        "separation": 0,
        "threshold": "0.2",
        "thresholdMode": "0",
        "threshold2": "0.2",
        "thresholdMode2": "0",
        "high": "2",
        "low": "30",
        "sym": "c1",
        "ccmatrixBatch": 128,
        "hostName": "localhost",
        "numberOfThreads": 8
    }
]