tutorial - Subtomogram Averaging of HIV capsid protein (SMALL): (EMPIAR-1164).
You'll need to download this dataset -> scipion3 testdata --download reliontomo_STA_HIV_smalldataset
[
    {
        "object.className": "ProtImportTsMovies",
        "object.id": "2",
        "object.label": "tomo - import tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "%(SCIPION_TESTS)s/reliontomo_STA_HIV_smalldataset/",
        "filesPattern": "*.mdoc",
        "isTomo5": false,
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": 0.675,
        "tiltAxisAngle": null,
        "doseInitial": 0.0,
        "dosePerFrame": 3.0,
        "gainFile": null,
        "darkFile": null
    },
    {
        "object.className": "ProtTsMotionCorr",
        "object.id": "52",
        "object.label": "motioncorr - align tilt-series movies",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTiltSeriesM": "2.outputTiltSeriesM",
        "alignFrame0": 1,
        "alignFrameN": 8,
        "useAlignToSum": true,
        "sumFrame0": 1,
        "sumFrameN": 0,
        "binFactor": 2.0,
        "cropOffsetX": 0,
        "cropOffsetY": 0,
        "cropDimX": 0,
        "cropDimY": 0,
        "splitEvenOdd": false,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1,
        "gpuList": "0",
        "patchX": 0,
        "patchY": 0,
        "patchOverlap": 0,
        "group": 1,
        "groupLocal": 4,
        "tol": 0.2,
        "extraParams2": "",
        "gainRot": 0,
        "gainFlip": 0,
        "defectFile": null,
        "defectMap": null,
        "EERtext": null,
        "eerGroup": 32,
        "eerSampling": 0,
        "doMagCor": false,
        "scaleMaj": 1.0,
        "scaleMin": 1.0,
        "angDist": 0.0
    },
    {
        "object.className": "ProtFidderDetectAndEraseFiducials",
        "object.id": "115",
        "object.label": "fidder - detect and erase fiducials",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inTsSet": "152.TiltSeries",
        "probThreshold": 0.5,
        "doEvenOdd": false,
        "saveMaskStack": false,
        "gpuList": "0",
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "152",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "52.TiltSeries_3",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "190",
        "object.label": "imod - Dose filter",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "152.TiltSeries",
        "initialDose": 0.0,
        "inputDoseType": 0,
        "fixedImageDose": 1.0,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtImodXcorrPrealignment",
        "object.id": "227",
        "object.label": "imod - Coarse prealignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "190.TiltSeries",
        "cumulativeCorr": false,
        "Trimming parameters": null,
        "tiltAxisAngle": null,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.25,
        "filterSigma2": 0.05,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodFiducialModel",
        "object.id": "272",
        "object.label": "imod - Generate fiducial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "typeOfModel": 0,
        "inputSetOfTiltSeries": "227.TiltSeries",
        "sizeOfPatches": "680 680",
        "patchLayout": 0,
        "overlapPatches": "0.33 0.33",
        "numberOfPatches": null,
        "iterationsSubpixel": 1,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.125,
        "filterSigma2": 0.03,
        "fiducialDiameter": 10.0,
        "twoSurfaces": true,
        "numberFiducial": 10,
        "doTrackWithModel": true,
        "refineSobelFilter": true,
        "scalableSigmaForSobelFilter": 0.12,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtImodFiducialAlignment",
        "object.id": "326",
        "object.label": "imod - Fiducial alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfLandmarkModels": "272.FiducialModelGaps",
        "twoSurfaces": true,
        "rotationSolutionType": 2,
        "groupRotationSize": 5,
        "magnificationSolutionType": 0,
        "groupMagnificationSize": 4,
        "tiltAngleSolutionType": 1,
        "groupTiltAngleSize": 5,
        "distortionSolutionType": 0,
        "xStretchGroupSize": 7,
        "skewGroupSize": 11,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "ProtAssignTransformationMatrixTiltSeries",
        "object.id": "369",
        "object.label": "tomo - Tilt-series assign alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "getTMSetOfTiltSeries": "326.TiltSeries",
        "setTMSetOfTiltSeries": "115.tiltSeries"
    },
    {
        "object.className": "ProtImodTsNormalization",
        "object.id": "405",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "1787.TiltSeries",
        "binning": 4,
        "floatDensities": 2,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "modeToOutput": 0,
        "antialias": 5,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtTomo3dReconstrucTomo",
        "object.id": "542",
        "object.label": "tomo3d - reconstruct tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "405.TiltSeries",
        "doEvenOdd": false,
        "method": 1,
        "nIterations": 30,
        "setShape": true,
        "height": 300,
        "width": 0,
        "iniSlice": 0,
        "finSlice": 0,
        "Hamming": 0.0,
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "ProtTomo3dProtDenoiseTomogram",
        "object.id": "585",
        "object.label": "tomo3d - denoise tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetTomograms": "542.tomograms",
        "method": 0,
        "SigmaGaussian": 0.5,
        "nIter": 10,
        "nIterBflow": 70,
        "Lambda": -1.0,
        "TimeStep": 0.1,
        "TimeStepBflow": 0.15,
        "binThreads": 10,
        "hostName": "localhost",
        "numberOfThreads": 2
    },
    {
        "object.className": "DynamoBoxing",
        "object.id": "626",
        "object.label": "dynamo - vectorial picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "585.tomograms",
        "boxSize": 64,
        "deleteGenMFiles": true
    },
    {
        "object.className": "DynamoModelWorkflow",
        "object.id": "661",
        "object.label": "dynamo - model workflow",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputMeshes": "626.meshes",
        "boxSize": 64,
        "meshParameter": 5,
        "maxTr": 100000,
        "doRefineMesh": false,
        "subDivision": 2,
        "cropping": 10,
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "700",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "661.coordinates",
        "inputCtfTs": "1660.goodSetOfCTFTomoSeries2",
        "inputTS": "369.tiltSeries",
        "binThreads": 5,
        "handedness": true,
        "binningFactor": 6.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": false,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelion5ExtractSubtomos",
        "object.id": "747",
        "object.label": "reliontomo - Extract subtomos",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "661.coordinates",
        "inputCtfTs": "1660.goodSetOfCTFTomoSeries2",
        "inputTS": "369.tiltSeries",
        "binThreads": 5,
        "handedness": true,
        "binningFactor": 6.0,
        "boxSize": 128,
        "croppedBoxSize": 64,
        "maxDose": 50,
        "minNoFrames": 1,
        "write2dStacks": true,
        "outputInFloat16": false,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionDeNovoInitialModel",
        "object.id": "794",
        "object.label": "reliontomo - 3D initial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "700.relionParticles",
        "binThreads": 8,
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "nVdamMiniBatches": 40,
        "regularisation": 4.0,
        "numberOfClasses": 1,
        "maskDiameter": 350,
        "flattenSolvent": true,
        "symmetry": "C6",
        "doInC1AndApplySymLater": true,
        "priorWidthTiltAngle": 10,
        "angularSamplingDeg": 1,
        "offsetSearchRangePix": 6.0,
        "offsetSearchStepPix": 2.0,
        "parallelDiscIO": true,
        "pooledSubtomos": 30,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtRelionRefineSubtomograms",
        "object.id": "852",
        "object.label": "reliontomo - 3D auto-refine",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "747.relionParticles",
        "binThreads": 8,
        "referenceVolume": "794.average",
        "isMapAbsoluteGreyScale": true,
        "doResizeRef": true,
        "initialLowPassFilterA": 60.0,
        "symmetry": "C6",
        "doCTF": true,
        "ignoreCTFUntilFirstPeak": false,
        "maskDiameter": 350,
        "zeroMask": true,
        "solventCorrectFSC": false,
        "doBlushReg": false,
        "angularSamplingDeg": 2,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "localSearchAutoSampling": 4,
        "relaxSym": null,
        "useFinerAngularSampling": false,
        "priorWidthTiltAngle": 10,
        "parallelDiscIO": true,
        "pooledSubtomos": 30,
        "allParticlesRam": false,
        "scratchDir": null,
        "combineItersDisc": false,
        "skipPadding": false,
        "doGpu": true,
        "gpusToUse": "0",
        "keepOnlyLastIterFiles": false,
        "oversampling": 1,
        "extraParams": null,
        "hostName": "localhost",
        "numberOfMpi": 3
    },
    {
        "object.className": "ProtRelionCreateMask3D",
        "object.id": "919",
        "object.label": "relion - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolume": "852.average",
        "initialLowPassFilterA": 25.0,
        "threshold": 0.015,
        "doCompare": false,
        "operation": 0,
        "extend": 5,
        "edge": 8,
        "doInvert": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtRelion5ReconstructParticle",
        "object.id": "961",
        "object.label": "reliontomo - Reconstruct particle Relion 5",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inReParticles": "852.relionParticles",
        "binThreads": 8,
        "hostName": "localhost",
        "numberOfMpi": 3,
        "binningFactor": 3.0,
        "boxSize": 256,
        "croppedBoxSize": 128,
        "symmetry": "C6",
        "snrWiener": 0.0,
        "extraParams": null
    },
    {
        "object.className": "ProtRelionPostProcess",
        "object.id": "1001",
        "object.label": "reliontomo - Post-processing",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inVolume": "852.average",
        "solventMask": "919.outputMask",
        "calPixSize": -1.0,
        "estimateBFactor": true,
        "lowestResBFit": 10.0,
        "useOwnBFactor": false,
        "userBFactor": -1000,
        "skipFscWeight": false,
        "adHocLowPassFilter": 5,
        "mtf": null,
        "origDetectorPixSize": 1.0,
        "extraParams": null
    },
    {
        "object.className": "XmippProtMonoRes",
        "object.id": "1046",
        "object.label": "xmipp3 - local MonoRes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useHalfVolumes": true,
        "hasHalfVolumesFile": true,
        "associatedHalves": "961.average",
        "mask": "2580.outputMask",
        "significance": 0.95,
        "maskThreshold": 0.5,
        "noiseOnlyInHalves": true,
        "gaussianNoise": false,
        "minRes": 10.0,
        "maxRes": 25.0,
        "stepSize": null,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "XmippProtFSO",
        "object.id": "1100",
        "object.label": "xmipp3 - resolution fso",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "halfVolumesFile": true,
        "inputHalves": "961.average",
        "mask": "2580.outputMask",
        "coneAngle": 17.0,
        "estimate3DFSC": true,
        "threshold": 0.143,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "CistemProtTsCtffind",
        "object.id": "1660",
        "object.label": "cistem - tilt-series ctffind",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTiltSeries": "52.TiltSeries_3",
        "ctfDownFactor": 1.0,
        "windowSize": 512,
        "lowRes": 50.0,
        "highRes": 5.0,
        "minDefocus": 10000.0,
        "maxDefocus": 50000.0,
        "stepDefocus": 500.0,
        "slowSearch": false,
        "fixAstig": true,
        "astigmatism": 200.0,
        "findPhaseShift": false,
        "minPhaseShift": 0.0,
        "maxPhaseShift": 180.0,
        "stepPhaseShift": 10.0,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1,
        "measureTilt": false,
        "measureThickness": false,
        "search1D": true,
        "refine2D": true,
        "lowResNodes": 30.0,
        "highResNodes": 3.0,
        "useRoundedSquare": false,
        "downweightNodes": false
    },
    {
        "object.className": "ProtImodCtfCorrection",
        "object.id": "1787",
        "object.label": "imod - CTF correction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "369.tiltSeries",
        "inputSetOfCtfTomoSeries": "1660.goodSetOfCTFTomoSeries2",
        "defocusTol": 200,
        "interpolationWidth": 15,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 3
    },
    {
        "object.className": "XmippProtCreateMask3D",
        "object.id": "2580",
        "object.label": "xmipp3 - create 3d mask",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "source": 0,
        "inputVolume": "961.average",
        "volumeOperation": 0,
        "threshold": 0.1,
        "segmentationType": 2,
        "nvoxels": null,
        "naminoacids": null,
        "dalton": null,
        "samplingRate": 1.0,
        "size": null,
        "geo": 0,
        "radius": -1,
        "shiftCenter": false,
        "centerX": 0,
        "centerY": 0,
        "centerZ": 0,
        "boxSize": -1,
        "innerRadius": 0,
        "outerRadius": -1,
        "height": -1,
        "sigma": -1.0,
        "borderDecay": 0,
        "featureFilePath": null,
        "doSmall": true,
        "smallSize": 50,
        "doBig": true,
        "doSymmetrize": false,
        "symmetry": "c1",
        "doMorphological": true,
        "morphologicalOperation": 0,
        "elementSize": 2,
        "doInvert": false,
        "doSmooth": true,
        "sigmaConvolution": 3.0
    }
]
