[
    {
        "object.className": "ProtImportTs",
        "object.id": "67",
        "object.label": "tomo - import tilt-series",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "filesPath": "/home/scipion/scipion3/data/tests/nonOrientedPicking_tutorial/",
        "filesPattern": "*.mdoc",
        "isTomo5": false,
        "exclusionWords": null,
        "mdocInfo": null,
        "anglesFrom": 0,
        "minAngle": -60.0,
        "maxAngle": 60.0,
        "stepAngle": 3.0,
        "ctfCorrected": false,
        "interpolated": false,
        "importAction": 2,
        "voltage": 300.0,
        "sphericalAberration": 2.7,
        "amplitudeContrast": 0.1,
        "magnification": 50000,
        "samplingRate": null,
        "tiltAxisAngle": null,
        "doseInitial": 0.0,
        "dosePerFrame": null
    },
    {
        "object.className": "ProtImodTsNormalization",
        "object.id": "119",
        "object.label": "imod - Tilt-series preprocess",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "67.outputTiltSeries",
        "binning": 4,
        "floatDensities": 2,
        "scaleMean": 0.0,
        "scaleSd": 1.0,
        "scaleMax": 255.0,
        "scaleMin": 0.0,
        "modeToOutput": 0,
        "antialias": 5,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 4
    },
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "161",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "119.TiltSeries",
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "199",
        "object.label": "imod - Dose filter",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "161.TiltSeries",
        "initialDose": 0.0,
        "inputDoseType": 0,
        "fixedImageDose": 1.0,
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "ProtImodXcorrPrealignment",
        "object.id": "236",
        "object.label": "imod - Coarse prealignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "199.TiltSeries",
        "cumulativeCorr": false,
        "computeAlignment": true,
        "binning": 4,
        "Trimming parameters": null,
        "tiltAxisAngle": null,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.25,
        "filterSigma2": 0.05,
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "ProtImodFiducialModel",
        "object.id": "283",
        "object.label": "imod - Generate fiducial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "typeOfModel": 0,
        "inputSetOfTiltSeries": "236.TiltSeries",
        "sizeOfPatches": "680 680",
        "patchLayout": 0,
        "overlapPatches": "0.33 0.33",
        "numberOfPatches": null,
        "iterationsSubpixel": 1,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.125,
        "filterSigma2": 0.03,
        "fiducialDiameter": 12.0,
        "twoSurfaces": true,
        "numberFiducial": 10,
        "doTrackWithModel": true,
        "refineSobelFilter": true,
        "scalableSigmaForSobelFilter": 0.12
    },
    {
        "object.className": "ProtImodFiducialAlignment",
        "object.id": "337",
        "object.label": "imod - Fiducial alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfLandmarkModels": "283.FiducialModelGaps",
        "twoSurfaces": true,
        "computeAlignment": true,
        "binning": 4,
        "rotationSolutionType": 2,
        "groupRotationSize": 5,
        "magnificationSolutionType": 0,
        "groupMagnificationSize": 4,
        "tiltAngleSolutionType": 1,
        "groupTiltAngleSize": 5,
        "distortionSolutionType": 0,
        "xStretchGroupSize": 7,
        "skewGroupSize": 11
    },
    {
        "object.className": "SphireProtCRYOLOTomoPicking",
        "object.id": "382",
        "object.label": "sphire - cryolo tomo picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "767.Tomograms",
        "inputModelFrom": 0,
        "conservPickVar": 0.4,
        "lowPassFilter": false,
        "absCutOffFreq": 20.0,
        "numCpus": 4,
        "input_size": 1024,
        "boxSize": 50,
        "max_box_per_image": 700,
        "useGpu": true,
        "gpuList": "0",
        "searchRange": -1,
        "minLength": 5,
        "memory": 0,
        "doFilament": false,
        "box_distance": 20,
        "minimum_number_boxes": null,
        "straightness_method": 1,
        "straightness_threshold": 0.95,
        "search_range_factor": 1.41,
        "angle_delta": 10,
        "directional_method": 1,
        "filament_width": null,
        "mask_width": 100,
        "nomerging": false
    },
    {
        "object.className": "ProtImportVolumes",
        "object.id": "441",
        "object.label": "pwem - import volumes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "importFrom": 1,
        "filesPath": null,
        "filesPattern": null,
        "copyFiles": false,
        "emdbId": 3418,
        "setHalfMaps": false,
        "half1map": null,
        "half2map": null,
        "samplingRate": 2.62,
        "setOrigCoord": false,
        "x": null,
        "y": null,
        "z": null,
        "dataStreaming": false,
        "timeout": "12h",
        "fileTimeout": "30"
    },
    {
        "object.className": "EmanProtTemplateMatching",
        "object.id": "488",
        "object.label": "emantomo - Template matching picking",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "767.Tomograms",
        "refVol": "722.outputVol",
        "binThreads": 6,
        "nptcl": 1000,
        "delta": 30.0,
        "dthr": -1.0,
        "vthr": 6.0,
        "minvol": -1,
        "maxvol": -1,
        "symmetry": "c1",
        "rmedge": true,
        "rmgold": true,
        "hostName": "localhost",
        "numberOfThreads": 8
    },
    {
        "object.className": "EmanProtTomoExtraction",
        "object.id": "532",
        "object.label": "emantomo - Subtomograms extraction from tomogram",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": "932.coordinates",
        "tomoSource": 0,
        "boxSize": 40.0,
        "doInvert": true,
        "doNormalize": true,
        "normproc": 0
    },
    {
        "object.className": "EmanProtSubTomoAverage",
        "object.id": "572",
        "object.label": "emantomo - average subtomograms",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfSubTomogram": "2220.subtomograms",
        "symmetry": "c1",
        "msWedge": 3.0,
        "skipPostProc": true,
        "keepHdfFile": false,
        "binThreads": 6
    },
    {
        "object.className": "EmanProtTomoInitialModel",
        "object.id": "609",
        "object.label": "emantomo - Initial model",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "particles": "2220.subtomograms",
        "reference": "572.averageSubTomos",
        "symmetry": "c1",
        "filterto": 0.02,
        "fourier": true,
        "batchSize": 20,
        "learningRate": 0.1,
        "numberOfIterations": 2,
        "numberOfBatches": 10,
        "shrink": 1,
        "applySim": false
    },
    {
        "object.className": "DynamoSubTomoMRA",
        "object.id": "655",
        "object.label": "dynamo - Subtomogram alignment",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "useGpu": true,
        "gpuList": "0",
        "inputVolumes": "2220.subtomograms",
        "templateRef": "609.average",
        "numberOfIters": "2 2 3 4",
        "dim": "20 20 40 40",
        "useDynamoGui": false,
        "cr": "360 60 15 5",
        "cs": "30 15 5 2",
        "cf": "0",
        "inplane_range": "360 60 15 5",
        "inplane_sampling": "30 15 5 2",
        "inplane_flip": "0",
        "rf": "5",
        "rff": "2",
        "lim": "5",
        "limm": "0",
        "separation": 0,
        "threshold": "0.2",
        "thresholdMode": "0",
        "threshold2": "0.2",
        "thresholdMode2": "0",
        "high": "2",
        "low": "30",
        "sym": "c1",
        "ccmatrixBatch": 128,
        "binThreads": 3
    },
    {
        "object.className": "XmippProtCropResizeVolumes",
        "object.id": "722",
        "object.label": "xmipp3 - crop/resize volumes",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputVolumes": "441.outputVolume",
        "doResize": true,
        "resizeOption": 0,
        "resizeSamplingRate": 10.48,
        "doFourier": false,
        "resizeDim": 0,
        "resizeFactor": 0.5,
        "resizeLevel": 0,
        "hugeFile": false,
        "doWindow": false,
        "windowOperation": 1,
        "cropSize": 0,
        "windowSize": 0,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtImodTomoReconstruction",
        "object.id": "767",
        "object.label": "imod - Tomo reconstruction",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSetOfTiltSeries": "337.TiltSeries",
        "tomoThickness": 100,
        "tomoWidth": 0,
        "tomoShiftX": 0.0,
        "tomoShiftZ": 0.0,
        "angleOffset": 0.0,
        "tiltAxisOffset": 0.0,
        "superSampleFactor": 2,
        "fakeInteractionsSIRT": 0,
        "radialFirstParameter": 0.35,
        "radialSecondParameter": 0.035,
        "useGpu": true,
        "gpuList": "0",
        "processOddEven": false,
        "hostName": "localhost",
        "numberOfThreads": 1
    },
    {
        "object.className": "DeepFinderGenerateTrainingTargetsSpheres",
        "object.id": "814",
        "object.label": "deepfinder - generate sphere targets",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": "967.outputCoordinates3D",
        "sphereRadii": "14",
        "hostName": "localhost",
        "numberOfThreads": 12,
        "numberOfMpi": 1
    },
    {
        "object.className": "DeepFinderTrain",
        "object.id": "848",
        "object.label": "deepfinder - train",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "tomoMasksTrain": "814.segmentedTargets",
        "useSpecificValidation": false,
        "valDataFraction": 0.3,
        "coord": "967.outputCoordinates3D",
        "psize": 0,
        "bsize": 13,
        "epochs": 25,
        "stepsPerE": 25,
        "stepsPerV": 5,
        "bootstrap": true,
        "rndShift": 6,
        "gpuList": "0"
    },
    {
        "object.className": "DeepFinderSegment",
        "object.id": "895",
        "object.label": "deepfinder - segment tomo1",
        "object.comment": "the one not seen by deepfinder training",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputTomograms": "1007.outputTomograms",
        "weights": "848.netWeights_FINAL",
        "psize": 100,
        "gpuList": "0"
    },
    {
        "object.className": "DeepFinderCluster",
        "object.id": "932",
        "object.label": "deepfinder - cluster tomo1",
        "object.comment": "cluster segmentation of tomo1 into particles",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSegmentations": "895.segmentations",
        "cradius": 14,
        "hostName": "localhost",
        "numberOfThreads": 2,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtSubSet",
        "object.id": "967",
        "object.label": "100  coords from 3 tomograms",
        "object.comment": "there are no coordinates from tomo1 but 100 from each of the rest.\n\nDeepfinder training will only see 3 of the 4 tomograms",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputFullSet": "488.coordinates",
        "chooseAtRandom": false,
        "nElements": 2,
        "selectIds": true,
        "range": "1-100 705-804 1340-1439",
        "setOperation": 0
    },
    {
        "object.className": "ProtSubSet",
        "object.id": "1007",
        "object.label": "JUST tomo1",
        "object.comment": "tomogram not seen by deepfinder training",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputFullSet": "767.Tomograms",
        "chooseAtRandom": false,
        "nElements": 2,
        "selectIds": true,
        "range": "4",
        "setOperation": 0
    },
    {
        "object.className": "LegacyProtocol",
        "object.id": "1087",
        "object.label": "xmipptomo - subtomo projection",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "input": "532.subtomograms"
    },
    {
        "object.className": "ProtRelionClassify2D",
        "object.id": "1125",
        "object.label": "relion - 2D classification",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "isClassify": true,
        "is2D": true,
        "doContinue": false,
        "inputParticles": "1087.particles",
        "copyAlignment": false,
        "alignmentAsPriors": false,
        "fillRandomSubset": true,
        "maskDiameterA": -1,
        "maskZero": 0,
        "continueIter": "last",
        "continueMsg": "True",
        "doCTF": true,
        "haveDataBeenPhaseFlipped": null,
        "ignoreCTFUntilFirstPeak": false,
        "doCtfManualGroups": false,
        "defocusRange": 1000.0,
        "numParticles": 10.0,
        "numberOfClasses": 10,
        "regularisationParamT": 2.0,
        "useGradientAlg": true,
        "numberOfVDAMBatches": 200,
        "centerAvg": true,
        "numberOfIterations": 25,
        "limitResolEStep": -1.0,
        "doImageAlignment": true,
        "inplaneAngularSamplingDeg": 6.0,
        "offsetSearchRangePix": 5.0,
        "offsetSearchStepPix": 1.0,
        "allowCoarserSampling": false,
        "useParallelDisk": true,
        "pooledParticles": 3,
        "allParticlesRam": false,
        "useScratch": 0,
        "scratchDir": null,
        "combineItersDisc": false,
        "doGpu": true,
        "gpusToUse": "",
        "oversampling": 1,
        "extraParams": "",
        "hostName": "localhost",
        "numberOfThreads": 4,
        "numberOfMpi": 1
    },
    {
        "object.className": "ProtSubSet",
        "object.id": "1238",
        "object.label": "pwem - subset",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputFullSet": "532.subtomograms",
        "chooseAtRandom": false,
        "nElements": 2,
        "selectIds": false,
        "range": null,
        "inputSubSet": "2010.outputParticles",
        "setOperation": 0
    },
    {
        "object.className": "ProtTomoExtractCoords",
        "object.id": "1278",
        "object.label": "tomo - extract 3D coordinates",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputSubTomos": "1238.outputSubTomograms",
        "inputTomos": "767.Tomograms",
        "boxSize": null,
        "hostName": "localhost"
    },
    {
        "object.className": "ProtTomoConsensusPicking",
        "object.id": "1367",
        "object.label": "tomoviz - picking consensus",
        "object.comment": "NOTE only tomo1 coords will pass!",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": [
            "382.output3DCoordinates",
            "488.coordinates",
            "932.coordinates"
        ],
        "consensusRadius": 5,
        "consensus": -1,
        "mode": 0
    },
    {
        "object.className": "ProtUserSubSet",
        "object.id": "2010",
        "object.label": "good ones",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputObject": "1125.outputClasses",
        "other": null,
        "sqliteFile": "Runs/001125_ProtRelionClassify2D/classes2D_state.sqlite,",
        "outputClassName": "SetOfParticles"
    },
    {
        "object.className": "EmanProtTomoExtraction",
        "object.id": "2220",
        "object.label": "emantomo - Subtomograms extraction from tomogram (copy)",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "inputCoordinates": "1367.consensusCoordinates",
        "tomoSource": 0,
        "boxSize": 40.0,
        "doInvert": true,
        "doNormalize": true,
        "normproc": 0
    }
]